In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
def split_txt_file(filepath, path_prefix='./data/hmda/', lines_per_file=100000, target_state="WI", target_county="55079"):
    filenames = []
    root_file_name = filepath.split('/')[-1].split('.txt')[0]
    smallfile = None
    file_counter = 0
    line_counter = 0
    with open(filepath, "r") as bigfile:
        for line in bigfile: 
            columns = line.strip().split("|")
            if len(columns) > 9 and columns[9] == target_state and columns[10] == target_county: 
                if line_counter % lines_per_file == 0: 
                    if smallfile: 
                        smallfile.close()
                    small_filename = f"{path_prefix}{root_file_name}_part{file_counter}.txt"
                    smallfile = open(small_filename, "w")
                    file_counter += 1
                    filenames.append(small_filename)
                smallfile.write(line)
                line_counter += 1
                
    if smallfile: 
        smallfile.close()
    return filenames

In [45]:
comb_mlar_filenames = split_txt_file("./data/hmda/2023_hmda_combined_mlar_raw.txt")

In [46]:
combined_mlar_cols = [
    'activity_year', 
    'legal_entity_identifier', 
    'loan_type', 
    'loan_purpose', 
    'preapproval', 
    'construction_method', 
    'occupancy_type', 
    'loan_amount', 
    'action_taken', 
    'property_state', 
    'property_county', 
    'census_tract', 
    'borrower_one_ethnicity', 
    'borrower_two_ethnicity', 
    'borrower_three_ethnicity', 
    'borrower_four_ethnicity', 
    'borrower_five_ethnicity', 
    'co_borrower_one_ethnicity', 
    'co_borrower_two_ethnicity', 
    'co_borrower_three_ethnicity', 
    'co_borrower_four_ethnicity', 
    'co_borrower_five_ethnicity', 
    'borrower_ethnicity_based_on_obs', 
    'co_borrower_ethnicity_based_on_obs', 
    'borrower_one_race', 
    'borrower_two_race', 
    'borrower_three_race', 
    'borrower_four_race', 
    'borrower_five_race', 
    'co_borrower_one_race', 
    'co_borrower_two_race', 
    'co_borrower_three_race', 
    'co_borrower_four_race', 
    'co_borrower_five_race', 
    'borrower_race_based_on_obs', 
    'co_borrower_race_based_on_obs',
    'borrower_gender', 
    'co_borrower_gender', 
    'borrower_gender_based_on_obs', 
    'co_borrower_gender_based_on_obs',
    'borrower_age', 
    'is_borrower_62_or_older', 
    'co_borrower_age', 
    'is_co_borrower_62_or_older', 
    'income', 
    'type_of_purchaser', 
    'rate_spread', 
    'hoepa_status', 
    'lien_status', 
    'borrower_credit_score_model', 
    'co_borrower_credit_score_model', 
    'reason_for_denial_one',
    'reason_for_denial_two', 
    'reason_for_denial_three', 
    'reason_for_denial_four', 
    'total_loan_costs', 
    'total_points_and_fees', 
    'origination_charges', 
    'discount_points', 
    'lender_credits', 
    'interest_rate', 
    'prepayment_penalty_term', 
    'debt_to_income_ratio', 
    'combined_loan_to_value_ratio', 
    'loan_term_months', 
    'intro_rate_period', 
    'balloon_payment', 
    'interest_only_payments', 
    'negative_amortization', 
    'other_non_amortizing_features', 
    'property_value', 
    'manufactured_home_property_type', 
    'manufactured_home_land_property_interest', 
    'total_units', 
    'multifamily_affordable_units', 
    'submission_of_application', 
    'is_init_payable_to_institution', 
    'auto_underwriting_system_one', 
    'auto_underwriting_system_two', 
    'auto_underwriting_system_three', 
    'auto_underwriting_system_four', 
    'auto_underwriting_system_five', 
    'is_reverse_mortgage', 
    'is_open_end_line_of_credit', 
    'is_for_business_purpose'
]

In [47]:
df = pd.read_csv(comb_mlar_filenames[0], delimiter='|', header=None, names=combined_mlar_cols, dtype=str)
df.head()

,activity_year,legal_entity_identifier,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,property_state,...,submission_of_application,is_init_payable_to_institution,auto_underwriting_system_one,auto_underwriting_system_two,auto_underwriting_system_three,auto_underwriting_system_four,auto_underwriting_system_five,is_reverse_mortgage,is_open_end_line_of_credit,is_for_business_purpose
0,2023,549300HN58ONH5KNJJ12,1,31,2,1,1,595000,1,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
1,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,75000,1,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
2,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,135000,1,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
3,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,205000,1,WI,...,1,1,2,NaN,NaN,NaN,NaN,2,2,2
4,2023,549300HN58ONH5KNJJ12,1,1,2,1,1,255000,4,WI,...,1,3,6,NaN,NaN,NaN,NaN,2,2,2

In [31]:
df.property_county.value_counts()

property_county
55025    13936
55079    12542
55133     7002
55009     3263
55105     3161
         ...
55065      147
55023      146
55091      122
55037       82
55078       47
Name: count, Length: 72, dtype: int64

In [30]:
df.property_state.value_counts()

property_state
WI    100000
Name: count, dtype: int64

In [36]:
import requests
from io import StringIO
fips_url = "https://www2.census.gov/geo/docs/reference/codes2020/cou/st55_wi_cou2020.txt"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
}

response = requests.get(fips_url, headers=headers)

if response.status_code == 200: 
    file_content = StringIO(response.text)
    fips_wi_df = pd.read_csv(file_content, delimiter="|", header=0, dtype=str)
    fips_wi_df.columns = [
        "state_abbr", 
        "state_fips_cd", 
        "county_fips_cd", 
        "county_ns_cd", 
        "county_name", 
        "fips_class_cd", 
        "functional_status"
    ]
else: 
    print(f"Failed to download file: Status code {response.status_code}")

In [37]:
fips_wi_df.head()

,state_abbr,state_fips_cd,county_fips_cd,county_ns_cd,county_name,fips_class_cd,functional_status
0,WI,55,001,01581060,Adams County,H1,A
1,WI,55,003,01581061,Ashland County,H1,A
2,WI,55,005,01581062,Barron County,H1,A
3,WI,55,007,01581063,Bayfield County,H1,A
4,WI,55,009,01581064,Brown County,H1,A

In [41]:
fips_wi_df['census_county_cd'] = fips_wi_df['state_fips_cd'] + fips_wi_df['county_fips_cd']

In [42]:
fips_wi_df.census_county_cd.value_counts()

census_county_cd
55001    1
55003    1
55103    1
55101    1
55099    1
        ..
55047    1
55045    1
55043    1
55041    1
55141    1
Name: count, Length: 72, dtype: int64

In [43]:
fips_wi_df.query("county_name == 'Milwaukee County'")

,state_abbr,state_fips_cd,county_fips_cd,county_ns_cd,county_name,fips_class_cd,functional_status,census_county_cd
40,WI,55,079,01581100,Milwaukee County,H1,A,55079

In [55]:
### LEI Work
unique_legal_entity_identifier_list = df['legal_entity_identifier'].unique().tolist()
len(unique_legal_entity_identifier_listity_identifier_list)

451

In [54]:
import warnings
warnings.simplefilter(action='ignore', category=Warning)
rows_per_chunk = 100000
reader = pd.read_csv('./data/20250426-0000-gleif-goldencopy-lei2-golden-copy.csv', chunksize=rows_per_chunk)
for i, chunk in enumerate(reader): 
    chunk.to_csv(f"./data/gleif_lei2_{i}.csv", index=False)

In [60]:
import glob
matching_files = glob.glob('./data/gleif_lei2_*.csv')
lei_df_list = []
for lei_file in matching_files: 
    print(f"Searching {lei_file} for matches")
    lei_df = pd.read_csv(lei_file)
    matching_rows = lei_df[lei_df['LEI'].isin(unique_legal_entity_identifier_list)]
    lei_df_list.append(matching_rows)
lei_df = pd.concat(lei_df_list, ignore_index=True)
lei_df.head()

Searching ./data/gleif_lei2_9.csv for matches
Searching ./data/gleif_lei2_8.csv for matches
Searching ./data/gleif_lei2_19.csv for matches
Searching ./data/gleif_lei2_25.csv for matches
Searching ./data/gleif_lei2_24.csv for matches
Searching ./data/gleif_lei2_18.csv for matches
Searching ./data/gleif_lei2_26.csv for matches
Searching ./data/gleif_lei2_27.csv for matches
Searching ./data/gleif_lei2_23.csv for matches
Searching ./data/gleif_lei2_22.csv for matches
Searching ./data/gleif_lei2_20.csv for matches
Searching ./data/gleif_lei2_21.csv for matches
Searching ./data/gleif_lei2_10.csv for matches
Searching ./data/gleif_lei2_11.csv for matches
Searching ./data/gleif_lei2_13.csv for matches
Searching ./data/gleif_lei2_12.csv for matches
Searching ./data/gleif_lei2_16.csv for matches
Searching ./data/gleif_lei2_17.csv for matches
Searching ./data/gleif_lei2_15.csv for matches
Searching ./data/gleif_lei2_29.csv for matches
Searching ./data/gleif_lei2_28.csv for matches
Searching ./data/gleif_lei2_14.csv for matches
Searching ./data/gleif_lei2_0.csv for matches
Searching ./data/gleif_lei2_1.csv for matches
Searching ./data/gleif_lei2_3.csv for matches
Searching ./data/gleif_lei2_2.csv for matches
Searching ./data/gleif_lei2_6.csv for matches
Searching ./data/gleif_lei2_7.csv for matches
Searching ./data/gleif_lei2_5.csv for matches
Searching ./data/gleif_lei2_4.csv for matches

,LEI,Entity.LegalName,Entity.LegalName.xmllang,Entity.OtherEntityNames.OtherEntityName.1,Entity.OtherEntityNames.OtherEntityName.1.xmllang,Entity.OtherEntityNames.OtherEntityName.1.type,Entity.OtherEntityNames.OtherEntityName.2,Entity.OtherEntityNames.OtherEntityName.2.xmllang,Entity.OtherEntityNames.OtherEntityName.2.type,Entity.OtherEntityNames.OtherEntityName.3,...,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.ValidationAuthorityEntityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.ValidationAuthorityEntityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.ValidationAuthorityEntityID,ConformityFlag
0,7H6GLXDRUGQFU57RNE97,"JPMorgan Chase Bank, National Association",en,"JPMorgan Chase Bank, N.A.",en,TRADING_OR_OPERATING_NAME,CHASE MANHATTAN BANK,en,PREVIOUS_LEGAL_NAME,CHEMICAL BANK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
1,98450040E5B6CD69C657,SIMPLICITY,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
2,98450087981AP406JG03,CONVENTUS LLC,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON_CONFORMING
3,894500PCG3NCYFXK0D60,Westby Co-op Credit Union,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
4,54930001NSTOD85LT125,"GUARANTEED RATE AFFINITY, LLC",en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON_CONFORMING

In [63]:
## loan_type analysis
df['loan_type'].value_counts()

loan_type
1    24217
2     3520
3      938
4       20
Name: count, dtype: int64

In [64]:
## loan_purpose analysis
df['loan_purpose'].value_counts()

loan_purpose
1     13240
4      4479
32     4207
2      4006
31     2707
5        56
Name: count, dtype: int64

In [65]:
## preapproval analysis
df['preapproval'].value_counts()

preapproval
2    27066
1     1629
Name: count, dtype: int64

In [66]:
## construction_method analysis
df['construction_method'].value_counts()

construction_method
1    28581
2      114
Name: count, dtype: int64

In [67]:
## occupancy_type analysis
df['occupancy_type'].value_counts()

occupancy_type
1    25228
3     3267
2      200
Name: count, dtype: int64

In [68]:
## loan_amount analysis
df['loan_amount'].value_counts()

loan_amount
55000      1762
25000      1475
35000      1434
105000     1360
45000      1255
           ...
3785000       1
6605000       1
2495000       1
2435000       1
1255000       1
Name: count, Length: 253, dtype: int64

In [69]:
## action_taken analysis
df['action_taken'].value_counts()

action_taken
1    16456
3     5292
4     3137
6     1961
2      973
5      774
8       66
7       36
Name: count, dtype: int64

In [72]:
## census_tract analysis
df['census_tract'].value_counts()

census_tract
55079150100    313
55079050101    312
55079000202    265
55079160202    259
55079150301    251
              ...
55079014800      8
55079014700      7
55079014600      6
55079186400      3
55079014100      2
Name: count, Length: 300, dtype: int64

In [73]:
df['census_tract'].isnull().sum()

8

In [74]:
## borrower_one_ethnicity
df['borrower_one_ethnicity'].value_counts()

borrower_one_ethnicity
2     19280
1      3145
3      3026
4      2929
11      144
14       95
12       65
13        2
Name: count, dtype: int64

In [75]:
df['borrower_one_ethnicity'].isnull().sum()

9

In [76]:
## co_borrower_one_ethnicity analysis
df['co_borrower_one_ethnicity'].value_counts()

co_borrower_one_ethnicity
5     17259
2      7194
4      1760
1      1197
3      1181
11       55
14       24
12       23
Name: count, dtype: int64

In [77]:
df['co_borrower_one_ethnicity'].isnull().sum()

2

In [78]:
## borrower_ethnicity_based_on_obs
df['borrower_ethnicity_based_on_obs'].value_counts()

borrower_ethnicity_based_on_obs
2    23728
3     4129
1      838
Name: count, dtype: int64

In [79]:
## co_borrower_ethnicity_based_on_obs analysis
df['co_borrower_ethnicity_based_on_obs'].value_counts()

co_borrower_ethnicity_based_on_obs
4    17259
2     8919
3     2243
1      274
Name: count, dtype: int64

In [80]:
## borrower_one_race analysis
df['borrower_one_race'].value_counts()

borrower_one_race
5     16233
3      4755
6      3304
7      2933
2      1034
1       218
21       75
27       56
4        37
26       16
44        9
23        7
25        6
22        6
24        2
Name: count, dtype: int64

In [81]:
df['borrower_one_race'].isnull().sum()

4

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28695 entries, 0 to 28694
Data columns (total 85 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             28695 non-null  object
 1   legal_entity_identifier                   28695 non-null  object
 2   loan_type                                 28695 non-null  object
 3   loan_purpose                              28695 non-null  object
 4   preapproval                               28695 non-null  object
 5   construction_method                       28695 non-null  object
 6   occupancy_type                            28695 non-null  object
 7   loan_amount                               28695 non-null  object
 8   action_taken                              28695 non-null  object
 9   property_state                            28695 non-null  object
 10  property_county                           28695 non-null  object
 11  census_tract                              28687 non-null  object
 12  borrower_one_ethnicity                    28686 non-null  object
 13  borrower_two_ethnicity                    2093 non-null   object
 14  borrower_three_ethnicity                  44 non-null     object
 15  borrower_four_ethnicity                   1 non-null      object
 16  borrower_five_ethnicity                   0 non-null      object
 17  co_borrower_one_ethnicity                 28693 non-null  object
 18  co_borrower_two_ethnicity                 798 non-null    object
 19  co_borrower_three_ethnicity               14 non-null     object
 20  co_borrower_four_ethnicity                1 non-null      object
 21  co_borrower_five_ethnicity                0 non-null      object
 22  borrower_ethnicity_based_on_obs           28695 non-null  object
 23  co_borrower_ethnicity_based_on_obs        28695 non-null  object
 24  borrower_one_race                         28691 non-null  object
 25  borrower_two_race                         951 non-null    object
 26  borrower_three_race                       95 non-null     object
 27  borrower_four_race                        11 non-null     object
 28  borrower_five_race                        0 non-null      object
 29  co_borrower_one_race                      28693 non-null  object
 30  co_borrower_two_race                      312 non-null    object
 31  co_borrower_three_race                    31 non-null     object
 32  co_borrower_four_race                     9 non-null      object
 33  co_borrower_five_race                     1 non-null      object
 34  borrower_race_based_on_obs                28695 non-null  object
 35  co_borrower_race_based_on_obs             28695 non-null  object
 36  borrower_gender                           28695 non-null  object
 37  co_borrower_gender                        28695 non-null  object
 38  borrower_gender_based_on_obs              28695 non-null  object
 39  co_borrower_gender_based_on_obs           28695 non-null  object
 40  borrower_age                              28695 non-null  object
 41  is_borrower_62_or_older                   25662 non-null  object
 42  co_borrower_age                           28695 non-null  object
 43  is_co_borrower_62_or_older                9651 non-null   object
 44  income                                    25340 non-null  object
 45  type_of_purchaser                         28695 non-null  object
 46  rate_spread                               15170 non-null  object
 47  hoepa_status                              28695 non-null  object
 48  lien_status                               28695 non-null  object
 49  borrower_credit_score_model               28695 non-null  object
 50  co_borrower_credit_score_model            28695 non-null  object
 51  reason_for_denial_one                     28695 non-null  object
 52  reason_for_denial_two                     1188 non-null   object
 53  reason_for_denial_three                   186 non-null    object
 54  reason_for_denial_four                    14 non-null     object
 55  total_loan_costs                          11609 non-null  object
 56  total_points_and_fees                     449 non-null    object
 57  origination_charges                       11359 non-null  object
 58  discount_points                           5335 non-null   object
 59  lender_credits                            5029 non-null   object
 60  interest_rate                             19533 non-null  object
 61  prepayment_penalty_term                   2694 non-null   object
 62  debt_to_income_ratio                      21319 non-null  object
 63  combined_loan_to_value_ratio              21891 non-null  object
 64  loan_term_months                          28468 non-null  object
 65  intro_rate_period                         9484 non-null   object
 66  balloon_payment                           28695 non-null  object
 67  interest_only_payments                    28695 non-null  object
 68  negative_amortization                     28695 non-null  object
 69  other_non_amortizing_features             28695 non-null  object
 70  property_value                            24065 non-null  object
 71  manufactured_home_property_type           28695 non-null  object
 72  manufactured_home_land_property_interest  28695 non-null  object
 73  total_units                               28695 non-null  object
 74  multifamily_affordable_units              671 non-null    object
 75  submission_of_application                 28695 non-null  object
 76  is_init_payable_to_institution            28695 non-null  object
 77  auto_underwriting_system_one              28695 non-null  object
 78  auto_underwriting_system_two              1003 non-null   object
 79  auto_underwriting_system_three            310 non-null    object
 80  auto_underwriting_system_four             52 non-null     object
 81  auto_underwriting_system_five             47 non-null     object
 82  is_reverse_mortgage                       28695 non-null  object
 83  is_open_end_line_of_credit                28695 non-null  object
 84  is_for_business_purpose                   28695 non-null  object
dtypes: object(85)
memory usage: 18.6+ MB

In [ ]:
int_columns = ['activity_year', 'loan_type', 'loan_purpose', 'preapproval', 'construction_method', 
              'construction_method', 'occupancy_type', 'loan_amount', 'action_taken', 'property_county', 
              'census_tract', 'borrower_one_ethnicity', 'borrower_two_ethnicity', 'borrower_three_ethnicity', 
              'borrower_four_ethnicity', 'borrower_five_ethnicity', 'borrower_ethnicity_based_on_obs', 
              'co_borrower_one_ethnicity', 'co_borrower_two_ethnicity', 'co_borrower_three_ethnicity', 
              'co_borrower_four_ethnicity', 'co_borrower_five_ethnicity', 'co_borrower_ethnicity_based_on_obs', 
              'borrower_one_race', 'borrower_two_race', 'borrower_three_race', 'borrower_four_race', 
              'borrower_five_race']
float_columns = []
categorical_columns = ['legal_entity_identifier', 'property_state']