In [13]:
import pandas as pd
import numpy as np
import s3fs
import boto3
import io
from census import Census
from us import states

In [19]:
fs = s3fs.S3FileSystem(profile='AdministratorAccess-769392325318')  # or None for default profile

parquet_files = fs.glob("mortgage-data-refined/mke_data/*.parquet")

dfs = [pd.read_parquet(f"s3://{file}", engine='pyarrow', filesystem=fs) for file in parquet_files]

df = pd.concat(dfs, ignore_index=False)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139293 entries, 0 to 15958
Data columns (total 100 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             139293 non-null  int64
 1   lei                                       139293 non-null  object
 2   derived_msa_md                            139293 non-null  int64
 3   state_code                                139293 non-null  object
 4   county_code                               139173 non-null  float64
 5   census_tract                              139293 non-null  int64
 6   conforming_loan_limit                     139293 non-null  object
 7   derived_loan_product_type                 139293 non-null  object
 8   derived_dwelling_category                 139293 non-null  object
 9   derived_ethnicity                         139293 non-null  object
 10  derived_race                              139293 non-null  object
 11  derived_sex                               139293 non-null  object
 12  action_taken                              139293 non-null  int64
 13  purchaser_type                            139293 non-null  int64
 14  preapproval                               139293 non-null  int64
 15  loan_type                                 139293 non-null  int64
 16  loan_purpose                              139293 non-null  int64
 17  lien_status                               139293 non-null  int64
 18  reverse_mortgage                          139293 non-null  int64
 19  open_end_line_of_credit                   139293 non-null  int64
 20  business_or_commercial_purpose            139293 non-null  int64
 21  loan_amount                               139293 non-null  float64
 22  loan_to_value_ratio                       10685 non-null   float64
 23  interest_rate                             118942 non-null  object
 24  rate_spread                               127053 non-null  object
 25  hoepa_status                              139293 non-null  int64
 26  total_loan_costs                          127326 non-null  object
 27  total_points_and_fees                     139293 non-null  object
 28  origination_charges                       127313 non-null  object
 29  discount_points                           117952 non-null  object
 30  lender_credits                            139293 non-null  object
 31  loan_term                                 136213 non-null  object
 32  prepayment_penalty_term                   139293 non-null  object
 33  intro_rate_period                         139293 non-null  object
 34  negative_amortization                     139293 non-null  int64
 35  interest_only_payment                     139293 non-null  int64
 36  balloon_payment                           139293 non-null  int64
 37  other_nonamortizing_features              139293 non-null  int64
 38  property_value                            120446 non-null  object
 39  construction_method                       139293 non-null  int64
 40  occupancy_type                            139293 non-null  int64
 41  manufactured_home_secured_property_type   139293 non-null  int64
 42  manufactured_home_land_property_interest  139293 non-null  int64
 43  total_units                               137377 non-null  object
 44  multifamily_affordable_units              139293 non-null  object
 45  income                                    120844 non-null  float64
 46  debt_to_income_ratio                      139293 non-null  object
 47  applicant_credit_score_type               139293 non-null  int64
 48  co_applicant_credit_score_type            139293 non-null  int64
 49  applicant_ethnicity_1                     139225 non-null  float64
 50  applicant_ethnicity_2                     10184 non-null   float64
 51  applicant_ethnicity_3                     199 non-null     float64
 52  applicant_ethnicity_4                     7 non-null       float64
 53  applicant_ethnicity_5                     2 non-null       float64
 54  co_applicant_ethnicity_1                  139272 non-null  float64
 55  co_applicant_ethnicity_2                  3561 non-null    float64
 56  co_applicant_ethnicity_3                  69 non-null      float64
 57  co_applicant_ethnicity_4                  2 non-null       float64
 58  co_applicant_ethnicity_5                  0 non-null       float64
 59  applicant_ethnicity_observed              139293 non-null  int64
 60  co_applicant_ethnicity_observed           139293 non-null  int64
 61  applicant_race_1                          139271 non-null  float64
 62  applicant_race_2                          4448 non-null    float64
 63  applicant_race_3                          427 non-null     float64
 64  applicant_race_4                          44 non-null      float64
 65  applicant_race_5                          5 non-null       float64
 66  co_applicant_race_1                       139286 non-null  float64
 67  co_applicant_race_2                       1304 non-null    float64
 68  co_applicant_race_3                       102 non-null     float64
 69  co_applicant_race_4                       9 non-null       float64
 70  co_applicant_race_5                       3 non-null       float64
 71  applicant_race_observed                   139293 non-null  int64
 72  co_applicant_race_observed                139293 non-null  int64
 73  applicant_sex                             139293 non-null  int64
 74  co_applicant_sex                          139293 non-null  int64
 75  applicant_sex_observed                    139293 non-null  int64
 76  co_applicant_sex_observed                 139293 non-null  int64
 77  applicant_age                             111341 non-null  object
 78  co_applicant_age                          120923 non-null  object
 79  applicant_age_above_62                    139293 non-null  object
 80  co_applicant_age_above_62                 139293 non-null  object
 81  submission_of_application                 139293 non-null  int64
 82  initially_payable_to_institution          139293 non-null  int64
 83  aus_1                                     139293 non-null  int64
 84  aus_2                                     5675 non-null    float64
 85  aus_3                                     1755 non-null    float64
 86  aus_4                                     251 non-null     float64
 87  aus_5                                     224 non-null     float64
 88  denial_reason_1                           139293 non-null  int64
 89  denial_reason_2                           4951 non-null    float64
 90  denial_reason_3                           739 non-null     float64
 91  denial_reason_4                           69 non-null      float64
 92  tract_population                          139293 non-null  int64
 93  tract_minority_population_percent         139293 non-null  float64
 94  ffiec_msa_md_median_family_income         139293 non-null  int64
 95  tract_to_msa_income_percentage            139293 non-null  float64
 96  tract_owner_occupied_units                139293 non-null  int64
 97  tract_one_to_four_family_homes            139293 non-null  int64
 98  tract_median_age_of_housing_units         139293 non-null  int64
 99  combined_loan_to_value_ratio              115648 non-null  object
dtypes: float64(33), int64(40), object(27)
memory usage: 107.3+ MB

In [67]:
df.tract_to_msa_income_percentage.unique().tolist()

[119.0,
 98.0,
 63.0,
 75.0,
 72.0,
 107.0,
 77.0,
 99.0,
 96.0,
 54.0,
 93.0,
 65.0,
 44.0,
 86.0,
 94.0,
 85.0,
 41.0,
 80.0,
 59.0,
 92.0,
 90.0,
 101.0,
 56.0,
 109.0,
 52.0,
 110.0,
 106.0,
 114.0,
 186.0,
 97.0,
 67.0,
 53.0,
 46.0,
 58.0,
 47.0,
 73.0,
 39.0,
 50.0,
 37.0,
 140.0,
 66.0,
 43.0,
 30.0,
 48.0,
 34.0,
 84.0,
 88.0,
 69.0,
 105.0,
 129.0,
 45.0,
 33.0,
 35.0,
 91.0,
 81.0,
 64.0,
 51.0,
 175.0,
 115.0,
 61.0,
 128.0,
 36.0,
 32.0,
 111.0,
 24.0,
 108.0,
 71.0,
 196.0,
 70.0,
 79.0,
 29.0,
 28.0,
 165.0,
 204.0,
 42.0,
 38.0,
 49.0,
 104.0,
 74.0,
 31.0,
 82.0,
 40.0,
 78.0,
 27.0,
 143.0,
 68.0,
 22.0,
 23.0,
 12.0,
 100.0,
 124.0,
 57.0,
 169.0,
 103.0,
 112.0,
 102.0,
 83.0,
 26.0,
 89.0,
 150.0,
 139.0,
 121.0,
 156.0,
 240.0,
 95.0,
 0.0,
 87.0,
 62.0,
 177.0,
 133.0,
 161.0,
 122.0,
 125.0,
 18.0,
 49.71,
 44.38,
 48.22,
 87.73,
 74.83,
 94.72,
 51.57,
 31.5,
 71.46,
 44.04,
 31.41,
 48.27,
 37.69,
 44.43,
 35.62,
 40.4,
 31.79,
 49.6,
 22.07,
 29.79,
 37.56,
 49.11,
 23.19,
 36.44,
 23.16,
 36.1,
 58.94,
 112.35,
 65.44,
 39.83,
 47.15,
 98.72,
 101.51,
 70.05,
 82.17,
 38.95,
 65.9,
 40.82,
 31.42,
 40.58,
 40.47,
 56.2,
 50.1,
 61.15,
 86.93,
 70.65,
 53.1,
 110.93,
 91.65,
 61.06,
 39.98,
 98.3,
 99.95,
 65.43,
 59.09,
 17.97,
 60.82,
 133.09,
 59.27,
 63.43,
 43.29,
 36.85,
 35.17,
 57.9,
 43.64,
 123.69,
 42.3,
 102.87,
 86.07,
 85.76,
 72.64,
 86.06,
 51.95,
 57.04,
 80.06,
 108.48,
 84.67,
 150.34,
 63.15,
 138.95,
 91.15,
 23.26,
 52.9,
 103.24,
 72.8,
 40.87,
 53.31,
 36.32,
 43.58,
 60.57,
 92.29,
 121.68,
 99.17,
 63.3,
 57.46,
 65.48,
 48.01,
 88.84,
 40.75,
 79.66,
 51.63,
 81.04,
 30.54,
 69.54,
 40.44,
 54.47,
 75.02,
 41.18,
 43.07,
 57.91,
 32.29,
 31.21,
 98.45,
 88.78,
 177.21,
 60.94,
 119.07,
 58.4,
 62.03,
 70.51,
 88.53,
 169.23,
 93.48,
 98.5,
 93.53,
 108.27,
 51.89,
 110.28,
 99.74,
 54.02,
 78.76,
 40.41,
 100.44,
 239.69,
 73.95,
 104.08,
 90.37,
 156.04,
 52.06,
 97.25,
 143.22,
 11.7,
 78.09,
 40.52,
 32.16,
 74.98,
 29.89,
 85.62,
 71.26,
 46.88,
 28.83,
 38.21,
 24.23,
 120.52,
 35.58,
 66.4,
 70.15,
 39.39,
 57.96,
 53.14,
 124.94,
 97.11,
 35.73,
 44.29,
 36.48,
 28.92,
 31.15,
 44.36,
 25.85,
 26.35,
 77.46,
 32.19,
 51.85,
 161.29,
 64.73,
 28.36,
 77.95,
 41.99,
 83.36,
 91.89,
 48.62,
 37.28,
 29.31,
 36.06,
 42.78,
 39.87,
 92.46]

In [69]:
float_to_int_cols = ['county_code', 'loan_amount', 'income', 'applicant_ethnicity_1', 'applicant_ethnicity_2', 
                    'applicant_ethnicity_3', 'applicant_ethnicity_4', 'applicant_ethnicity_5']
str_to_float_cols = ['combined_loan_to_value_ratio', 'interest_rate', 'rate_spread', 'total_loan_costs', 
                    'total_points_and_fees', 'origination_charges', 'discount_points', 
                    'lender_credits']
str_to_int_cols = ['loan_term', 'property_value']
str_to_int_exempt = ['intro_rate_period', 'prepayment_penalty_term', 'multifamily_affordable_units']
categorical_cols = ['conforming_loan_limit', 'applicant_age', 'co_applicant_age', 'debt_to_income_ratio']
convert_na_to_nan = ['purchaser_type', 'loan_purpose']
yes_no_bool_conversion = ['applicant_age_above_62', 'co_applicant_age_above_62']
convert_exempt_to_nan = ['reverse_mortgage', 'open_end_line_of_credit', 'business_or_commercial_purpose', 
                        'negative_amortization', 'interest_only_payment', 'balloon_payment', 
                        'other_nonamortizing_features', 'manufactured_home_secured_property_type', 
                        'manufactured_home_land_property_interest']
other = ['derived_dwelling_category', 'action_taken', 'hoepa_status', 'total_units', 
        'co_applicant_credit_score_type', 'co_applicant_ethnicity_1', 'co_applicant_ethnicity_2', 
        'co_applicant_ethnicity_3', 'co_applicant_ethnicity_4', 'co_applicant_ethnicity_5', 
        'applicant_ethnicity_observed', 'co_applicant_ethnicity_observed', 'applicant_race_1', 
        'applicant_race_2', 'applicant_race_3', 'applicant_race_4', 'applicant_race_5', 
        'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3', 'co_applicant_race_4', 
        'co_applicant_race_5', 'applicant_race_observed', 'co_applicant_race_observed', 
        'applicant_sex', 'co_applicant_sex', 'applicant_sex_observed', 'co_applicant_sex_observed', 
        'submission_of_application', 'initially_payable_to_institution', 'aus_1', 'aus_2', 
        'aus_3', 'aus_4', 'aus_5', 'denial_reason_1', 'denial_reason_2', 'denial_reason_3', 
        'denial_reason_4', 'applicant_credit_score_type']

In [70]:
def send_dataframe_to_s3_csv(df, bucket, key, profile=None):
    # Set up AWS session
    session = boto3.Session(profile_name=profile) if profile else boto3.Session()
    s3 = session.client('s3')

    # Create in-memory CSV buffer
    csv_buffer = io.StringIO()
    df.to_csv(csv_buffer, index=False)

    # Upload to S3
    s3.put_object(Bucket=bucket, Key=key, Body=csv_buffer.getvalue())
    print(f"✅ Uploaded to s3://{bucket}/{key}")

In [71]:
# Start by uploading this dataframe to S3
file_key = "mke_data/combined_hmda_2018_to_2023.csv"
bucket = 'mortgage-data-refined'
send_dataframe_to_s3_csv(df, bucket, file_key, profile='AdministratorAccess-769392325318')

✅ Uploaded to s3://mortgage-data-refined/mke_data/combined_hmda_2018_to_2023.csv

In [73]:
# Start cleaning the files - float to int first
for col in float_to_int_cols: 
    df[col] = df[col].astype('Int64')

In [74]:
test = df.copy()
# Now convert the string to floats
for col in str_to_float_cols: 
    test[col] = pd.to_numeric(test[col], errors='coerce')

test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139293 entries, 0 to 15958
Data columns (total 100 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             139293 non-null  int64
 1   lei                                       139293 non-null  object
 2   derived_msa_md                            139293 non-null  int64
 3   state_code                                139293 non-null  object
 4   county_code                               139173 non-null  Int64
 5   census_tract                              139293 non-null  int64
 6   conforming_loan_limit                     139293 non-null  object
 7   derived_loan_product_type                 139293 non-null  object
 8   derived_dwelling_category                 139293 non-null  object
 9   derived_ethnicity                         139293 non-null  object
 10  derived_race                              139293 non-null  object
 11  derived_sex                               139293 non-null  object
 12  action_taken                              139293 non-null  int64
 13  purchaser_type                            139293 non-null  int64
 14  preapproval                               139293 non-null  int64
 15  loan_type                                 139293 non-null  int64
 16  loan_purpose                              139293 non-null  int64
 17  lien_status                               139293 non-null  int64
 18  reverse_mortgage                          139293 non-null  int64
 19  open_end_line_of_credit                   139293 non-null  int64
 20  business_or_commercial_purpose            139293 non-null  int64
 21  loan_amount                               139293 non-null  Int64
 22  loan_to_value_ratio                       10685 non-null   float64
 23  interest_rate                             89987 non-null   float64
 24  rate_spread                               65981 non-null   float64
 25  hoepa_status                              139293 non-null  int64
 26  total_loan_costs                          63035 non-null   float64
 27  total_points_and_fees                     229 non-null     float64
 28  origination_charges                       62774 non-null   float64
 29  discount_points                           21052 non-null   float64
 30  lender_credits                            28828 non-null   float64
 31  loan_term                                 136213 non-null  object
 32  prepayment_penalty_term                   139293 non-null  object
 33  intro_rate_period                         139293 non-null  object
 34  negative_amortization                     139293 non-null  int64
 35  interest_only_payment                     139293 non-null  int64
 36  balloon_payment                           139293 non-null  int64
 37  other_nonamortizing_features              139293 non-null  int64
 38  property_value                            120446 non-null  object
 39  construction_method                       139293 non-null  int64
 40  occupancy_type                            139293 non-null  int64
 41  manufactured_home_secured_property_type   139293 non-null  int64
 42  manufactured_home_land_property_interest  139293 non-null  int64
 43  total_units                               137377 non-null  object
 44  multifamily_affordable_units              139293 non-null  object
 45  income                                    120844 non-null  Int64
 46  debt_to_income_ratio                      139293 non-null  object
 47  applicant_credit_score_type               139293 non-null  int64
 48  co_applicant_credit_score_type            139293 non-null  int64
 49  applicant_ethnicity_1                     139225 non-null  Int64
 50  applicant_ethnicity_2                     10184 non-null   Int64
 51  applicant_ethnicity_3                     199 non-null     Int64
 52  applicant_ethnicity_4                     7 non-null       Int64
 53  applicant_ethnicity_5                     2 non-null       Int64
 54  co_applicant_ethnicity_1                  139272 non-null  float64
 55  co_applicant_ethnicity_2                  3561 non-null    float64
 56  co_applicant_ethnicity_3                  69 non-null      float64
 57  co_applicant_ethnicity_4                  2 non-null       float64
 58  co_applicant_ethnicity_5                  0 non-null       float64
 59  applicant_ethnicity_observed              139293 non-null  int64
 60  co_applicant_ethnicity_observed           139293 non-null  int64
 61  applicant_race_1                          139271 non-null  float64
 62  applicant_race_2                          4448 non-null    float64
 63  applicant_race_3                          427 non-null     float64
 64  applicant_race_4                          44 non-null      float64
 65  applicant_race_5                          5 non-null       float64
 66  co_applicant_race_1                       139286 non-null  float64
 67  co_applicant_race_2                       1304 non-null    float64
 68  co_applicant_race_3                       102 non-null     float64
 69  co_applicant_race_4                       9 non-null       float64
 70  co_applicant_race_5                       3 non-null       float64
 71  applicant_race_observed                   139293 non-null  int64
 72  co_applicant_race_observed                139293 non-null  int64
 73  applicant_sex                             139293 non-null  int64
 74  co_applicant_sex                          139293 non-null  int64
 75  applicant_sex_observed                    139293 non-null  int64
 76  co_applicant_sex_observed                 139293 non-null  int64
 77  applicant_age                             111341 non-null  object
 78  co_applicant_age                          120923 non-null  object
 79  applicant_age_above_62                    139293 non-null  object
 80  co_applicant_age_above_62                 139293 non-null  object
 81  submission_of_application                 139293 non-null  int64
 82  initially_payable_to_institution          139293 non-null  int64
 83  aus_1                                     139293 non-null  int64
 84  aus_2                                     5675 non-null    float64
 85  aus_3                                     1755 non-null    float64
 86  aus_4                                     251 non-null     float64
 87  aus_5                                     224 non-null     float64
 88  denial_reason_1                           139293 non-null  int64
 89  denial_reason_2                           4951 non-null    float64
 90  denial_reason_3                           739 non-null     float64
 91  denial_reason_4                           69 non-null      float64
 92  tract_population                          139293 non-null  int64
 93  tract_minority_population_percent         139293 non-null  float64
 94  ffiec_msa_md_median_family_income         139293 non-null  int64
 95  tract_to_msa_income_percentage            139293 non-null  float64
 96  tract_owner_occupied_units                139293 non-null  int64
 97  tract_one_to_four_family_homes            139293 non-null  int64
 98  tract_median_age_of_housing_units         139293 non-null  int64
 99  combined_loan_to_value_ratio              86159 non-null   float64
dtypes: Int64(8), float64(33), int64(40), object(19)
memory usage: 108.4+ MB