In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
target_df = pd.read_excel('./data/output/HMDA_2022_CTData.xls')
target_df.head()

,census_tract,TotalOriginations,WhiteNonHispanicOriginations,BlackOriginations,LatinxOriginations,AAPIOriginations,Applications,Denials,Fallout,OriginationRate,DenialRate,FalloutRate
0,55079000101,29,3,10,2,3,52,6,11,0.557692,0.115385,0.211538
1,55079187000,27,16,3,3,1,42,1,7,0.642857,0.023810,0.166667
2,55079018600,15,0,1,11,1,22,1,4,0.681818,0.045455,0.181818
3,55079003500,37,6,21,5,2,61,7,8,0.606557,0.114754,0.131148
4,55079017900,30,23,0,2,1,49,1,11,0.612245,0.020408,0.224490

In [7]:
count = 0
with open('./data/hmda/2022_modified_lar/2022_combined_mlar_header.txt', 'r') as f: 
    for line in f: 
        if count < 100: 
            print(line)
            count += 1
        else: 
            break

activity_year|lei|loan_type|loan_purpose|preapproval|construction_method|occupancy_type|loan_amount|action_taken|state_code|county_code|census_tract|applicant_ethnicity_1|applicant_ethnicity_2|applicant_ethnicity_3|applicant_ethnicity_4|applicant_ethnicity_5|co_applicant_ethnicity_1|co_applicant_ethnicity_2|co_applicant_ethnicity_3|co_applicant_ethnicity_4|co_applicant_ethnicity_5|applicant_ethnicity_observed|co_applicant_ethnicity_observed|applicant_race_1|applicant_race_2|applicant_race_3|applicant_race_4|applicant_race_5|co_applicant_race_1|co_applicant_race_2|co_applicant_race_3|co_applicant_race_4|co_applicant_race_5|applicant_race_observed|co_applicant_race_observed|applicant_sex|co_applicant_sex|applicant_sex_observed|co_applicant_sex_observed|applicant_age|applicant_age_above_62|co_applicant_age|co_applicant_age_above_62|income|purchaser_type|rate_spread|hoepa_status|lien_status|applicant_credit_scoring_model|co_applicant_credit_scoring_model|denial_reason_1|denial_reason_2|denial_reason_3|denial_reason_4|total_loan_costs|total_points_and_fees|origination_charges|discount_points|lender_credits|interest_rate|prepayment_penalty_term|debt_to_income_ratio|combined_loan_to_value_ratio|loan_term|intro_rate_period|balloon_payment|interest_only_payment|negative_amortization|other_non_amortizing_features|property_value|manufactured_home_secured_property_type|manufactured_home_land_property_interest|total_units|multifamily_affordable_units|submission_of_application|initially_payable_to_institution|aus_1|aus_2|aus_3|aus_4|aus_5|reverse_mortgage|open_end_line_of_credit|business_or_commercial_purpose

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|175000|1|MN|27123|27123031701|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|12.0|NA|NA|NA|12|NA|1|1|2|2|255000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|305000|1|MN|27123|27123033800|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.0|NA|NA|NA|12|NA|1|1|2|2|465000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|265000|1|MN|27053|27053026814|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|265000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|375000|1|MN|27053|27053023300|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|12.0|NA|NA|NA|12|NA|1|1|2|2|405000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|315000|1|MN|27037|27037060811|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|8.0|NA|NA|NA|12|NA|1|1|2|2|415000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|285000|1|MN|27053|27053110100|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|325000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|225000|1|MN|27053|27053021001|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|315000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|355000|1|MN|27053|27053122600|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.0|NA|NA|NA|12|NA|1|1|2|2|465000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|185000|1|MN|27053|27053100700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|245000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|365000|1|MN|27095|27095170600|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|385000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|365000|1|MN|27053|27053110000|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|485000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|245000|1|MN|27053|27053020903|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|345000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|255000|1|MN|27037|27037061102|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|30|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27123|27123030400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|265000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|175000|1|MN|27053|27053110800|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|285000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|275000|1|MN|27053|27053023402|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|365000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053107400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|255000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|215000|1|MN|27123|27123033000|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|295000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|225000|1|MN|27003|27003051502|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|8.5|NA|NA|NA|12|NA|1|1|2|2|305000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|335000|1|MN|27053|27053109000|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|2|2|1|3|1205000|1|MN|27053|27053105100|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|8.5|NA|NA|NA|12|NA|1|1|2|2|1605000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|415000|1|MN|27163|27163071013|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|525000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|275000|1|MN|27053|27053025605|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|395000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|245000|1|MN|27003|27003050233|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|335000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053110000|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|325000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|165000|1|MN|27123|27123030800|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|215000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|165000|1|MN|27053|27053009600|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|215000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|105000|1|MN|27053|27053111100|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|165000|1|MN|27115|27115950300|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|215000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|265000|1|MN|27003|27003050811|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|315000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|275000|1|MN|27053|27053011998|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|8.5|NA|NA|NA|12|NA|1|1|2|2|355000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|295000|1|MN|27163|27163070603|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|395000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|255000|1|MN|27025|27025110302|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|345000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|315000|1|MN|27053|27053024100|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|435000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|1255000|1|MN|27053|27053105100|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.25|NA|NA|NA|12|NA|1|1|2|2|1545000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|235000|1|MN|27003|27003050706|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053125900|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.5|NA|NA|NA|12|NA|1|1|2|2|255000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|175000|1|MN|27037|27037060509|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|225000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|2|2|1|3|585000|1|MN|27053|27053023902|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|8.75|NA|NA|NA|6|NA|1|1|2|2|655000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|375000|1|MN|27037|27037060507|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|505000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|185000|1|MN|27053|27053100900|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|285000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|595000|1|MN|27053|27053023700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.5|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|575000|1|MN|27123|27123043001|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.5|NA|NA|NA|12|NA|1|1|2|2|795000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|505000|1|MN|27053|27053023700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|775000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|115000|1|MN|27123|27123030400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|195000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|235000|1|MN|27053|27053024700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|895000|1|MN|27053|27053109800|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.75|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|235000|1|MN|27003|27003051201|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.25|NA|NA|NA|12|NA|1|1|2|2|315000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|355000|1|MN|27037|27037060819|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|455000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|145000|1|MN|27123|27123031400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.5|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|285000|1|MN|27139|27139080906|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.0|NA|NA|NA|12|NA|1|1|2|2|425000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|275000|1|MN|27053|27053102800|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|365000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|375000|1|MN|27053|27053000601|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|515000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|325000|1|MN|27053|27053122500|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|445000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|775000|1|MN|27037|27037060841|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|1105000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|255000|1|MN|27037|27037061102|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|335000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|225000|1|MN|27123|27123030702|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|285000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|215000|1|MN|27053|27053020500|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|12|NA|1|1|2|2|305000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|645000|1|MN|27141|27141030201|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|12|NA|1|1|2|2|825000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|225000|1|MN|27053|27053020801|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|7|NA|1|1|2|2|285000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|335000|1|MN|27053|27053026005|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|6|NA|1|1|2|2|425000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|665000|1|MN|27053|27053026606|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|835000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|235000|1|MN|27003|27003051102|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|295000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|285000|1|MN|27053|27053104002|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|355000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|265000|1|MN|27053|27053125500|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|335000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|155000|1|MN|27123|27123030702|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.0|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|165000|1|MN|27123|27123042700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|215000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|125000|1|MN|27053|27053000300|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|12|NA|1|1|2|2|165000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053023401|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|325000|1|MN|27163|27163071400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|415000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|275000|1|MN|27003|27003050707|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|515000|1|MN|27053|27053008500|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|12.0|NA|NA|NA|12|NA|1|1|2|2|755000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|105000|1|MN|27053|27053025401|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|9.5|NA|NA|NA|6|NA|1|1|2|2|135000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|145000|1|MN|27053|27053009600|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|205000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|125000|1|MN|27053|27053100700|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|215000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|115000|1|MN|27161|27161790400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|155000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053021601|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|10.25|NA|NA|NA|6|NA|1|1|2|2|NA|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|305000|1|MN|27003|27003051102|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|395000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|195000|1|MN|27053|27053021400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|275000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|235000|1|MN|27053|27053100500|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|335000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|225000|1|MN|27123|27123034400|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|295000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|305000|1|MN|27123|27123042102|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|11.0|NA|NA|NA|12|NA|1|1|2|2|395000|3|5|1|NA|1|1|6|||||2|2|1

2022|549300HH2N9Q3HH7XL57|1|1|2|1|3|165000|1|MN|27123|27123031200|4|||||4|||||3|3|7|||||7|||||3|3|4|4|3|3|8888|NA|8888|NA|NA|0|NA|3|1|9|9|10||||NA|NA|NA|NA|NA|12.0|NA|NA|NA|12|NA|1|1|2|2|255000|3|5|1|NA|1|1|6|||||2|2|1


In [17]:
def split_txt_file(filepath, path_prefix='./data/hmda/', lines_per_file=100000, target_state="WI", target_county="55079"):
    filenames = []
    column_names = []
    root_file_name = filepath.split('/')[-1].split('.txt')[0]
    smallfile = None
    file_counter = 0
    line_counter = 0
    overall_count = 0
    with open(filepath, "r") as bigfile:
        for line in bigfile: 
            if overall_count == 0: 
                column_names = line.strip().split("|")
                overall_count += 1
            columns = line.strip().split("|")
            if len(columns) > 9 and columns[9] == target_state: 
                if line_counter % lines_per_file == 0: 
                    if smallfile: 
                        smallfile.close()
                    small_filename = f"{path_prefix}{root_file_name}_part{file_counter}.txt"
                    smallfile = open(small_filename, "w")
                    file_counter += 1
                    filenames.append(small_filename)
                smallfile.write(line)
                line_counter += 1
                
    if smallfile: 
        smallfile.close()
    return filenames, column_names

In [18]:
filenames, column_names = split_txt_file(
    './data/hmda/2022_modified_lar/2022_combined_mlar_header.txt', 
    path_prefix='./data/hmda/2022_modified_lar/'
)

In [21]:
filenames, column_names

(['./data/hmda/2022_modified_lar/2022_combined_mlar_header_part0.txt',
  './data/hmda/2022_modified_lar/2022_combined_mlar_header_part1.txt',
  './data/hmda/2022_modified_lar/2022_combined_mlar_header_part2.txt'],
 ['activity_year',
  'lei',
  'loan_type',
  'loan_purpose',
  'preapproval',
  'construction_method',
  'occupancy_type',
  'loan_amount',
  'action_taken',
  'state_code',
  'county_code',
  'census_tract',
  'applicant_ethnicity_1',
  'applicant_ethnicity_2',
  'applicant_ethnicity_3',
  'applicant_ethnicity_4',
  'applicant_ethnicity_5',
  'co_applicant_ethnicity_1',
  'co_applicant_ethnicity_2',
  'co_applicant_ethnicity_3',
  'co_applicant_ethnicity_4',
  'co_applicant_ethnicity_5',
  'applicant_ethnicity_observed',
  'co_applicant_ethnicity_observed',
  'applicant_race_1',
  'applicant_race_2',
  'applicant_race_3',
  'applicant_race_4',
  'applicant_race_5',
  'co_applicant_race_1',
  'co_applicant_race_2',
  'co_applicant_race_3',
  'co_applicant_race_4',
  'co_applicant_race_5',
  'applicant_race_observed',
  'co_applicant_race_observed',
  'applicant_sex',
  'co_applicant_sex',
  'applicant_sex_observed',
  'co_applicant_sex_observed',
  'applicant_age',
  'applicant_age_above_62',
  'co_applicant_age',
  'co_applicant_age_above_62',
  'income',
  'purchaser_type',
  'rate_spread',
  'hoepa_status',
  'lien_status',
  'applicant_credit_scoring_model',
  'co_applicant_credit_scoring_model',
  'denial_reason_1',
  'denial_reason_2',
  'denial_reason_3',
  'denial_reason_4',
  'total_loan_costs',
  'total_points_and_fees',
  'origination_charges',
  'discount_points',
  'lender_credits',
  'interest_rate',
  'prepayment_penalty_term',
  'debt_to_income_ratio',
  'combined_loan_to_value_ratio',
  'loan_term',
  'intro_rate_period',
  'balloon_payment',
  'interest_only_payment',
  'negative_amortization',
  'other_non_amortizing_features',
  'property_value',
  'manufactured_home_secured_property_type',
  'manufactured_home_land_property_interest',
  'total_units',
  'multifamily_affordable_units',
  'submission_of_application',
  'initially_payable_to_institution',
  'aus_1',
  'aus_2',
  'aus_3',
  'aus_4',
  'aus_5',
  'reverse_mortgage',
  'open_end_line_of_credit',
  'business_or_commercial_purpose'])

In [27]:
import glob
import os
all_files = glob.glob(os.path.join('./data/hmda/2022_modified_lar', "*.txt"))
all_files = all_files[1:]
all_files

['./data/hmda/2022_modified_lar/2022_combined_mlar_header_part0.txt',
 './data/hmda/2022_modified_lar/2022_combined_mlar_header_part1.txt',
 './data/hmda/2022_modified_lar/2022_combined_mlar_header_part2.txt']

In [72]:
df = pd.concat(
    (pd.read_csv(f, delimiter='|', header=None, names=column_names, low_memory=False) for f in all_files), 
    ignore_index=True
)
# df['census_tract'] = pd.to_numeric(df['census_tract'], errors='coerce').astype("float64")
df['census_tract'] = df['census_tract'].astype("Int64").astype('string')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265398 entries, 0 to 265397
Data columns (total 85 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   activity_year                             265398 non-null  int64
 1   lei                                       265398 non-null  object
 2   loan_type                                 265398 non-null  int64
 3   loan_purpose                              265398 non-null  int64
 4   preapproval                               265398 non-null  int64
 5   construction_method                       265398 non-null  int64
 6   occupancy_type                            265398 non-null  int64
 7   loan_amount                               265398 non-null  int64
 8   action_taken                              265398 non-null  int64
 9   state_code                                265398 non-null  object
 10  county_code                               262373 non-null  float64
 11  census_tract                              262152 non-null  string
 12  applicant_ethnicity_1                     265311 non-null  float64
 13  applicant_ethnicity_2                     7153 non-null    float64
 14  applicant_ethnicity_3                     175 non-null     float64
 15  applicant_ethnicity_4                     10 non-null      float64
 16  applicant_ethnicity_5                     2 non-null       float64
 17  co_applicant_ethnicity_1                  265370 non-null  float64
 18  co_applicant_ethnicity_2                  2957 non-null    float64
 19  co_applicant_ethnicity_3                  59 non-null      float64
 20  co_applicant_ethnicity_4                  1 non-null       float64
 21  co_applicant_ethnicity_5                  1 non-null       float64
 22  applicant_ethnicity_observed              265398 non-null  int64
 23  co_applicant_ethnicity_observed           265398 non-null  int64
 24  applicant_race_1                          265384 non-null  float64
 25  applicant_race_2                          5245 non-null    float64
 26  applicant_race_3                          460 non-null     float64
 27  applicant_race_4                          55 non-null      float64
 28  applicant_race_5                          16 non-null      float64
 29  co_applicant_race_1                       265394 non-null  float64
 30  co_applicant_race_2                       2303 non-null    float64
 31  co_applicant_race_3                       169 non-null     float64
 32  co_applicant_race_4                       17 non-null      float64
 33  co_applicant_race_5                       6 non-null       float64
 34  applicant_race_observed                   265398 non-null  int64
 35  co_applicant_race_observed                265398 non-null  int64
 36  applicant_sex                             265398 non-null  int64
 37  co_applicant_sex                          265398 non-null  int64
 38  applicant_sex_observed                    265398 non-null  int64
 39  co_applicant_sex_observed                 265398 non-null  int64
 40  applicant_age                             265398 non-null  object
 41  applicant_age_above_62                    246299 non-null  object
 42  co_applicant_age                          265398 non-null  object
 43  co_applicant_age_above_62                 126730 non-null  object
 44  income                                    242986 non-null  float64
 45  purchaser_type                            265398 non-null  int64
 46  rate_spread                               168170 non-null  object
 47  hoepa_status                              265398 non-null  int64
 48  lien_status                               265398 non-null  int64
 49  applicant_credit_scoring_model            265398 non-null  int64
 50  co_applicant_credit_scoring_model         265398 non-null  int64
 51  denial_reason_1                           265398 non-null  int64
 52  denial_reason_2                           5989 non-null    float64
 53  denial_reason_3                           863 non-null     float64
 54  denial_reason_4                           78 non-null      float64
 55  total_loan_costs                          135314 non-null  object
 56  total_points_and_fees                     12205 non-null   object
 57  origination_charges                       135015 non-null  object
 58  discount_points                           54918 non-null   object
 59  lender_credits                            51793 non-null   object
 60  interest_rate                             197693 non-null  object
 61  prepayment_penalty_term                   18887 non-null   object
 62  debt_to_income_ratio                      190404 non-null  object
 63  combined_loan_to_value_ratio              205895 non-null  object
 64  loan_term                                 262302 non-null  object
 65  intro_rate_period                         94416 non-null   object
 66  balloon_payment                           265398 non-null  int64
 67  interest_only_payment                     265398 non-null  int64
 68  negative_amortization                     265398 non-null  int64
 69  other_non_amortizing_features             265398 non-null  int64
 70  property_value                            224690 non-null  object
 71  manufactured_home_secured_property_type   265398 non-null  int64
 72  manufactured_home_land_property_interest  265398 non-null  int64
 73  total_units                               265398 non-null  object
 74  multifamily_affordable_units              11564 non-null   object
 75  submission_of_application                 265398 non-null  int64
 76  initially_payable_to_institution          265398 non-null  int64
 77  aus_1                                     265398 non-null  int64
 78  aus_2                                     9604 non-null    float64
 79  aus_3                                     2195 non-null    float64
 80  aus_4                                     270 non-null     float64
 81  aus_5                                     237 non-null     float64
 82  reverse_mortgage                          265398 non-null  int64
 83  open_end_line_of_credit                   265398 non-null  int64
 84  business_or_commercial_purpose            265398 non-null  int64
dtypes: float64(29), int64(34), object(21), string(1)
memory usage: 172.1+ MB

In [75]:
target_df['census_tract'] = target_df['census_tract'].astype("string")
target_tracts = target_df.census_tract.unique().tolist()
target_tracts = list(map(str, target_tracts))
df_tracts = df.census_tract.unique().tolist()
df_tracts = list(map(str, df_tracts))
missing_tracts = list(set(target_tracts) - set(df_tracts))
assert len(missing_tracts) == 0

In [77]:
# Filter down to the tracts that we care about
mke_df = df[df['census_tract'].notna() & df['census_tract'].isin(target_tracts)]
mke_df.shape

(20352, 85)

In [110]:
target_df.head()

,census_tract,TotalOriginations,WhiteNonHispanicOriginations,BlackOriginations,LatinxOriginations,AAPIOriginations,Applications,Denials,Fallout,OriginationRate,DenialRate,FalloutRate
0,55079000101,29,3,10,2,3,52,6,11,0.557692,0.115385,0.211538
1,55079187000,27,16,3,3,1,42,1,7,0.642857,0.023810,0.166667
2,55079018600,15,0,1,11,1,22,1,4,0.681818,0.045455,0.181818
3,55079003500,37,6,21,5,2,61,7,8,0.606557,0.114754,0.131148
4,55079017900,30,23,0,2,1,49,1,11,0.612245,0.020408,0.224490

In [107]:
test = mke_df.copy()
test.drop_duplicates(inplace=True)
test.query("action_taken == 3 & loan_purpose == 1 & occupancy_type == 1 & census_tract == '55079000101'")

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
48688,2022,254900CN1DD55MJDFH69,2,1,2,1,1,195000,3,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
105570,2022,5493007DIB8YPDM6NR52,1,1,2,1,1,125000,3,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
172502,2022,549300FGXN1K3HLB1R50,2,1,2,1,1,55000,3,WI,...,1,3,3,NaN,NaN,NaN,NaN,2,2,2
179163,2022,549300AG64NHILB7ZP05,2,1,2,1,1,145000,3,WI,...,1,1,3,NaN,NaN,NaN,NaN,2,2,2
179971,2022,549300SELI3XCH3UZW80,2,1,2,1,1,325000,3,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
227311,2022,549300MFY0P4D234OB91,2,1,2,1,1,115000,3,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2

In [108]:
# drop duplicates
mke_df.drop_duplicates(inplace=True)

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_55371/966243228.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mke_df.drop_duplicates(inplace=True)

In [137]:
mke_purchases_df = mke_df.query("loan_purpose == 1 & occupancy_type == 1")
mke_purchases_df.head()

,activity_year,lei,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,state_code,...,submission_of_application,initially_payable_to_institution,aus_1,aus_2,aus_3,aus_4,aus_5,reverse_mortgage,open_end_line_of_credit,business_or_commercial_purpose
163,2022,549300HN58ONH5KNJJ12,2,1,1,1,1,215000,1,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
278,2022,549300HN58ONH5KNJJ12,1,1,1,1,1,245000,1,WI,...,1,1,2,NaN,NaN,NaN,NaN,2,2,2
398,2022,549300HN58ONH5KNJJ12,1,1,1,1,1,135000,1,WI,...,1,1,2,NaN,NaN,NaN,NaN,2,2,2
406,2022,549300HN58ONH5KNJJ12,1,1,1,1,1,165000,1,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
505,2022,549300HN58ONH5KNJJ12,1,1,1,1,1,165000,1,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2

In [138]:
## 7656 in test
mke_purchases_df['white_non_hispanic'] = (
    (mke_purchases_df['applicant_ethnicity_1'] == 1) & 
    (mke_purchases_df['applicant_race_1'] == 5)
)

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_55371/3534876697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mke_purchases_df['white_non_hispanic'] = (

In [153]:
tract_summary = (
    mke_purchases_df.groupby("census_tract")
    .apply(lambda g: pd.Series({
        "TotalOriginations": (g["action_taken"] == 1).sum(),
        "WhiteNonHispanicOriginations": ((g["action_taken"] == 1) & (g["applicant_race_1"] == 5) & (g['applicant_ethnicity_1'] == 1)).sum(),
        "BlackOriginations": ((g["action_taken"] == 1) & (g["applicant_race_1"] == 3)).sum(),
        "LatinxOriginations": ((g["action_taken"] == 1) & (g["applicant_ethnicity_1"].isin([1, 11, 12, 13, 14]))).sum(),
        "AAPIOriginations": ((g["action_taken"] == 1) & (g["applicant_race_1"].isin([2, 4, 21, 22, 23, 24, 25, 26, 27]))).sum(),
        "Applications": len(g),
        "Denials": (g["action_taken"] == 3).sum(),
        "Fallout": g["action_taken"].isin([4, 5]).sum(),
        
    }))
    .reset_index()
)
tract_summary.head()

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_55371/4218558576.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda g: pd.Series({

,census_tract,TotalOriginations,WhiteNonHispanicOriginations,BlackOriginations,LatinxOriginations,AAPIOriginations,Applications,Denials,Fallout
0,55079000101,29,7,10,4,3,52,6,10
1,55079000102,40,9,22,1,4,67,7,7
2,55079000201,36,13,13,4,3,62,8,7
3,55079000202,81,28,37,9,5,136,13,19
4,55079000301,34,21,7,1,3,52,5,5

In [154]:
tract_summary['OriginationRate'] = round(tract_summary['TotalOriginations'] / tract_summary['Applications'], 6)
tract_summary['DenialRate'] = round(tract_summary['Denials'] / tract_summary['Applications'], 6)
tract_summary['FalloutRate'] = round(tract_summary['Fallout'] / tract_summary['Applications'], 6)

In [155]:
tract_summary.sort_values(by='census_tract', ascending=True).head(20)

,census_tract,TotalOriginations,WhiteNonHispanicOriginations,BlackOriginations,LatinxOriginations,AAPIOriginations,Applications,Denials,Fallout,OriginationRate,DenialRate,FalloutRate
0,55079000101,29,7,10,4,3,52,6,10,0.557692,0.115385,0.192308
1,55079000102,40,9,22,1,4,67,7,7,0.597015,0.104478,0.104478
2,55079000201,36,13,13,4,3,62,8,7,0.580645,0.129032,0.112903
3,55079000202,81,28,37,9,5,136,13,19,0.595588,0.095588,0.139706
4,55079000301,34,21,7,1,3,52,5,5,0.653846,0.096154,0.096154
5,55079000302,17,7,7,3,1,23,1,1,0.739130,0.043478,0.043478
6,55079000303,18,8,3,2,4,33,3,7,0.545455,0.090909,0.212121
7,55079000304,49,9,24,5,9,79,6,9,0.620253,0.075949,0.113924
8,55079000400,23,13,4,3,3,39,5,4,0.589744,0.128205,0.102564
9,55079000501,36,15,14,4,4,67,8,7,0.537313,0.119403,0.104478
10,55079000502,25,9,9,3,5,39,4,6,0.641026,0.102564,0.153846
11,55079000600,56,11,22,5,17,104,9,20,0.538462,0.086538,0.192308
12,55079000700,40,16,12,7,4,74,13,7,0.540541,0.175676,0.094595
13,55079000800,36,13,13,5,7,52,4,4,0.692308,0.076923,0.076923
14,55079000900,35,9,18,6,2,58,9,11,0.603448,0.155172,0.189655
15,55079001000,33,7,23,6,1,56,7,7,0.589286,0.125000,0.125000
16,55079001100,16,2,12,2,2,29,4,4,0.551724,0.137931,0.137931
17,55079001200,11,1,6,1,2,25,4,2,0.440000,0.160000,0.080000
18,55079001300,37,6,24,1,1,67,10,5,0.552239,0.149254,0.074627
19,55079001400,17,5,9,2,2,30,3,4,0.566667,0.100000,0.133333

In [147]:
target_df.sort_values(by='census_tract', ascending=True).head(20)

,census_tract,TotalOriginations,WhiteNonHispanicOriginations,BlackOriginations,LatinxOriginations,AAPIOriginations,Applications,Denials,Fallout,OriginationRate,DenialRate,FalloutRate
0,55079000101,29,3,10,2,3,52,6,11,0.557692,0.115385,0.211538
177,55079000102,40,6,22,1,4,67,7,11,0.597015,0.104478,0.164179
45,55079000201,36,10,12,4,3,62,8,8,0.580645,0.129032,0.129032
25,55079000202,81,21,37,8,5,133,13,25,0.609023,0.097744,0.187970
46,55079000301,34,18,7,1,3,53,5,6,0.641509,0.094340,0.113208
47,55079000302,17,5,7,2,1,23,1,1,0.739130,0.043478,0.043478
48,55079000303,18,6,3,2,4,33,3,8,0.545455,0.090909,0.242424
21,55079000304,49,6,24,5,9,79,6,11,0.620253,0.075949,0.139241
28,55079000400,23,11,4,3,3,40,5,4,0.575000,0.125000,0.100000
29,55079000501,36,12,13,4,4,68,8,10,0.529412,0.117647,0.147059
30,55079000502,24,6,9,3,5,38,4,7,0.631579,0.105263,0.184211
31,55079000600,56,6,21,5,17,105,9,25,0.533333,0.085714,0.238095
32,55079000700,40,8,11,7,4,74,13,11,0.540541,0.175676,0.148649
33,55079000800,36,8,13,5,7,53,4,6,0.679245,0.075472,0.113208
40,55079000900,34,4,17,4,2,56,9,10,0.607143,0.160714,0.178571
194,55079001000,32,1,23,6,1,55,7,9,0.581818,0.127273,0.163636
195,55079001100,16,0,12,2,2,29,4,5,0.551724,0.137931,0.172414
196,55079001200,11,0,6,1,2,26,4,2,0.423077,0.153846,0.076923
154,55079001300,37,6,23,1,1,67,10,10,0.552239,0.149254,0.149254
155,55079001400,17,3,8,2,2,30,3,4,0.566667,0.100000,0.133333