In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
def split_txt_file(filepath, path_prefix='./data/hmda/', lines_per_file=100000, target_state="WI", target_county="55079"):
    filenames = []
    root_file_name = filepath.split('/')[-1].split('.txt')[0]
    smallfile = None
    file_counter = 0
    line_counter = 0
    with open(filepath, "r") as bigfile:
        for line in bigfile: 
            columns = line.strip().split("|")
            if len(columns) > 9 and columns[9] == target_state and columns[10] == target_county: 
                if line_counter % lines_per_file == 0: 
                    if smallfile: 
                        smallfile.close()
                    small_filename = f"{path_prefix}{root_file_name}_part{file_counter}.txt"
                    smallfile = open(small_filename, "w")
                    file_counter += 1
                    filenames.append(small_filename)
                smallfile.write(line)
                line_counter += 1
                
    if smallfile: 
        smallfile.close()
    return filenames

In [4]:
comb_mlar_filenames = split_txt_file("./data/hmda/2023_hmda_combined_mlar_raw.txt")

In [2]:
combined_mlar_cols = [
    'activity_year', 
    'legal_entity_identifier', 
    'loan_type', 
    'loan_purpose', 
    'preapproval', 
    'construction_method', 
    'occupancy_type', 
    'loan_amount', 
    'action_taken', 
    'property_state', 
    'property_county', 
    'census_tract', 
    'borrower_one_ethnicity', 
    'borrower_two_ethnicity', 
    'borrower_three_ethnicity', 
    'borrower_four_ethnicity', 
    'borrower_five_ethnicity', 
    'co_borrower_one_ethnicity', 
    'co_borrower_two_ethnicity', 
    'co_borrower_three_ethnicity', 
    'co_borrower_four_ethnicity', 
    'co_borrower_five_ethnicity', 
    'borrower_ethnicity_based_on_obs', 
    'co_borrower_ethnicity_based_on_obs', 
    'borrower_one_race', 
    'borrower_two_race', 
    'borrower_three_race', 
    'borrower_four_race', 
    'borrower_five_race', 
    'co_borrower_one_race', 
    'co_borrower_two_race', 
    'co_borrower_three_race', 
    'co_borrower_four_race', 
    'co_borrower_five_race', 
    'borrower_race_based_on_obs', 
    'co_borrower_race_based_on_obs',
    'borrower_gender', 
    'co_borrower_gender', 
    'borrower_gender_based_on_obs', 
    'co_borrower_gender_based_on_obs',
    'borrower_age', 
    'is_borrower_62_or_older', 
    'co_borrower_age', 
    'is_co_borrower_62_or_older', 
    'income', 
    'type_of_purchaser', 
    'rate_spread', 
    'hoepa_status', 
    'lien_status', 
    'borrower_credit_score_model', 
    'co_borrower_credit_score_model', 
    'reason_for_denial_one',
    'reason_for_denial_two', 
    'reason_for_denial_three', 
    'reason_for_denial_four', 
    'total_loan_costs', 
    'total_points_and_fees', 
    'origination_charges', 
    'discount_points', 
    'lender_credits', 
    'interest_rate', 
    'prepayment_penalty_term', 
    'debt_to_income_ratio', 
    'combined_loan_to_value_ratio', 
    'loan_term_months', 
    'intro_rate_period', 
    'balloon_payment', 
    'interest_only_payments', 
    'negative_amortization', 
    'other_non_amortizing_features', 
    'property_value', 
    'manufactured_home_property_type', 
    'manufactured_home_land_property_interest', 
    'total_units', 
    'multifamily_affordable_units', 
    'submission_of_application', 
    'is_init_payable_to_institution', 
    'auto_underwriting_system_one', 
    'auto_underwriting_system_two', 
    'auto_underwriting_system_three', 
    'auto_underwriting_system_four', 
    'auto_underwriting_system_five', 
    'is_reverse_mortgage', 
    'is_open_end_line_of_credit', 
    'is_for_business_purpose'
]

In [5]:
df = pd.read_csv(comb_mlar_filenames[0], delimiter='|', header=None, names=combined_mlar_cols, dtype=str)
df.head()

,activity_year,legal_entity_identifier,loan_type,loan_purpose,preapproval,construction_method,occupancy_type,loan_amount,action_taken,property_state,...,submission_of_application,is_init_payable_to_institution,auto_underwriting_system_one,auto_underwriting_system_two,auto_underwriting_system_three,auto_underwriting_system_four,auto_underwriting_system_five,is_reverse_mortgage,is_open_end_line_of_credit,is_for_business_purpose
0,2023,549300HN58ONH5KNJJ12,1,31,2,1,1,595000,1,WI,...,1,1,1,NaN,NaN,NaN,NaN,2,2,2
1,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,75000,1,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
2,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,135000,1,WI,...,1,1,6,NaN,NaN,NaN,NaN,2,2,2
3,2023,549300HN58ONH5KNJJ12,1,1,1,1,1,205000,1,WI,...,1,1,2,NaN,NaN,NaN,NaN,2,2,2
4,2023,549300HN58ONH5KNJJ12,1,1,2,1,1,255000,4,WI,...,1,3,6,NaN,NaN,NaN,NaN,2,2,2

In [31]:
df.property_county.value_counts()

property_county
55025    13936
55079    12542
55133     7002
55009     3263
55105     3161
         ...
55065      147
55023      146
55091      122
55037       82
55078       47
Name: count, Length: 72, dtype: int64

In [30]:
df.property_state.value_counts()

property_state
WI    100000
Name: count, dtype: int64

In [6]:
import requests
from io import StringIO
fips_url = "https://www2.census.gov/geo/docs/reference/codes2020/cou/st55_wi_cou2020.txt"
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/98.0.4758.102 Safari/537.36"
}

response = requests.get(fips_url, headers=headers)

if response.status_code == 200: 
    file_content = StringIO(response.text)
    fips_wi_df = pd.read_csv(file_content, delimiter="|", header=0, dtype=str)
    fips_wi_df.columns = [
        "state_abbr", 
        "state_fips_cd", 
        "county_fips_cd", 
        "county_ns_cd", 
        "county_name", 
        "fips_class_cd", 
        "functional_status"
    ]
else: 
    print(f"Failed to download file: Status code {response.status_code}")

In [7]:
fips_wi_df.head()

,state_abbr,state_fips_cd,county_fips_cd,county_ns_cd,county_name,fips_class_cd,functional_status
0,WI,55,001,01581060,Adams County,H1,A
1,WI,55,003,01581061,Ashland County,H1,A
2,WI,55,005,01581062,Barron County,H1,A
3,WI,55,007,01581063,Bayfield County,H1,A
4,WI,55,009,01581064,Brown County,H1,A

In [8]:
fips_wi_df['census_county_cd'] = fips_wi_df['state_fips_cd'] + fips_wi_df['county_fips_cd']

In [9]:
fips_wi_df.census_county_cd.value_counts()

census_county_cd
55001    1
55003    1
55103    1
55101    1
55099    1
        ..
55047    1
55045    1
55043    1
55041    1
55141    1
Name: count, Length: 72, dtype: int64

In [10]:
fips_wi_df.query("county_name == 'Milwaukee County'")

,state_abbr,state_fips_cd,county_fips_cd,county_ns_cd,county_name,fips_class_cd,functional_status,census_county_cd
40,WI,55,079,01581100,Milwaukee County,H1,A,55079

In [13]:
### LEI Work
unique_legal_entity_identifier_list = df['legal_entity_identifier'].unique().tolist()
len(unique_legal_entity_identifier_list)

451

In [54]:
import warnings
warnings.simplefilter(action='ignore', category=Warning)
rows_per_chunk = 100000
reader = pd.read_csv('./data/20250426-0000-gleif-goldencopy-lei2-golden-copy.csv', chunksize=rows_per_chunk)
for i, chunk in enumerate(reader): 
    chunk.to_csv(f"./data/gleif_lei2_{i}.csv", index=False)

In [15]:
import glob
matching_files = glob.glob('./data/lei/gleif_lei2_*.csv')
lei_df_list = []
for lei_file in matching_files: 
    print(f"Searching {lei_file} for matches")
    lei_df = pd.read_csv(lei_file)
    matching_rows = lei_df[lei_df['LEI'].isin(unique_legal_entity_identifier_list)]
    lei_df_list.append(matching_rows)
lei_df = pd.concat(lei_df_list, ignore_index=True)
lei_df.head()

Searching ./data/lei/gleif_lei2_9.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,21,22,23,24,25,26,35,36,40,47,48,52,57,58,59,63,64,66,67,68,69,70,71,72,76,77,79,80,81,82,122,123,124,125,126,127,128,129,131,132,133,134,135,136,137,138,139,140,141,142,144,145,146,147,188,192,205,220,226,229,230,231,232,234,235,236,239,245,246,247,258,264,265,266,277,283,284,285,296,302,303,304,306,307,308,309,310,312,320,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_8.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,35,36,37,39,40,44,47,48,49,51,52,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,126,127,128,129,131,132,133,134,135,136,137,140,141,142,144,145,146,147,188,192,205,206,220,226,229,230,231,232,233,234,236,239,245,246,247,248,249,251,252,253,258,264,265,266,277,283,284,285,296,302,303,304,306,307,308,309,310,312,320,322,323,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_19.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,18,19,20,37,38,44,49,56,57,58,59,63,64,66,67,68,220,226,239,245,246,247,264,283,322) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_25.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,35,36,37,39,40,44,47,48,49,52,56,57,58,59,62,63,64,65,66,67,68,69,70,71,72,75,76,77,78,79,80,81,82,122,123,124,127,128,131,132,133,134,135,136,137,140,141,144,145,146,147,188,192,203,204,205,206,207,208,220,226,227,228,229,230,239,245,246,247,258,264,265,266,267,268,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,322,323,324,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_24.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,21,22,23,35,36,37,39,40,44,47,48,49,51,52,56,57,58,59,63,66,67,68,70,71,72,76,79,80,81,122,123,124,126,127,128,129,131,132,133,134,135,136,137,139,140,141,142,144,145,146,147,188,192,204,205,220,226,227,228,229,230,231,232,233,234,235,236,239,245,246,247,248,249,251,252,253,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_18.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,35,36,37,38,39,40,44,47,48,49,51,52,56,57,58,59,63,66,67,68,69,70,71,72,76,79,80,81,82,122,123,124,125,126,127,128,131,132,133,135,136,137,140,141,144,145,146,188,189,192,194,204,205,206,207,208,209,210,211,212,213,214,215,216,217,220,226,229,230,231,232,233,234,239,245,246,247,248,249,250,251,252,253,254,255,258,264,265,266,267,268,269,270,271,272,273,274,277,283,284,285,286,287,289,296,302,303,304,320,321,322,324,325) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_26.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (15,16,17,35,36,47,48,57,58,59,62,63,64,65,66,67,68,69,70,71,72,75,76,77,78,79,80,81,82,122,123,124,127,128,131,132,133,134,135,136,137,140,141,144,145,146,147,188,192,203,204,205,206,207,208,209,220,227,228,229,230,231,232,239,246,247,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,323,326,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_27.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (15,16,17,18,19,20,35,36,47,48,57,58,59,63,64,65,66,67,68,69,70,71,72,75,76,77,78,79,80,81,82,122,123,124,127,128,131,132,133,134,135,136,137,140,141,144,145,146,147,188,192,203,204,205,206,207,208,209,210,211,212,213,214,215,227,228,229,230,231,232,233,234,235,236,246,247,258,264,265,266,267,268,277,283,284,285,294,295,296,298,299,300,301,303,304,320,323,328,330,331,333,334,336) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_23.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,37,39,40,49,51,52,57,58,59,66,68,70,71,72,79,81,122,123,124,125,126,128,129,131,132,133,135,136,137,139,141,142,144,145,146,192,205,220,229,230,231,232,234,235,236,239,246,247,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,302,303,304) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_22.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,21,22,23,35,37,39,40,44,47,49,51,52,56,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,127,128,129,131,132,133,134,135,136,137,140,141,142,144,145,146,147,188,192,203,204,205,207,208,220,226,227,228,229,230,231,232,234,235,236,239,245,246,247,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_20.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,35,36,37,38,39,40,44,47,48,49,50,51,52,56,57,58,59,66,67,68,69,70,71,72,79,80,81,82,188,192,194,203,204,205,220,226,227,228,229,230,232,233,234,239,246,247,258,275,276,277,279,280,281,282,294,295,298,299,300,301,320,322) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_21.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,21,22,23,35,36,40,47,48,52,57,58,59,61,62,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,122,123,124,126,127,128,129,130,131,132,133,134,135,136,137,139,140,141,142,144,145,146,147,188,192,203,204,205,206,207,208,209,210,211,212,215,220,226,227,228,229,230,231,232,233,234,235,236,239,245,246,247,248,249,251,252,253,258,264,265,266,267,268,269,270,271,272,273,274,277,283,284,285,294,295,296,298,299,300,301,302,320,322,323,324,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_10.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (12,13,14,15,16,17,21,22,23,24,25,26,35,40,47,52,57,58,59,62,63,64,65,66,67,68,69,70,71,72,75,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,188,192,205,206,207,208,220,229,230,231,232,233,234,235,236,239,245,246,247,248,249,250,251,252,253,254,255,258,264,265,266,267,268,269,270,271,272,274,277,283,284,285,296,302,303,304,320,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_11.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (12,13,14,15,16,17,24,25,26,35,47,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,125,126,129,130,138,139,142,143,188,192,205,206,207,208,210,211,220,229,230,231,232,233,234,239,246,247,248,249,250,251,252,253,258,265,266,267,268,269,270,272,277,283,284,285,294,295,296,298,299,300,301,302,303,304,305,306,307,308,320,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_13.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (15,16,17,35,47,63,64,65,67,69,76,77,78,80,82,125,126,129,130,138,139,142,143,188,192,205,206,207,208,210,211,220,229,230,231,232,233,234,235,236,239,246,247,248,249,250,251,252,253,254,255,258,265,266,277,284,285,294,295,296,298,299,300,301,302,303,304,320,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_12.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (12,13,14,15,16,17,21,22,23,35,47,63,64,65,67,69,76,77,78,80,82,125,126,129,130,138,139,142,143,188,192,205,206,207,208,209,220,229,230,231,232,233,234,235,236,239,246,247,248,249,250,251,252,253,254,255,258,265,266,267,268,269,270,272,273,274,277,284,285,286,287,288,289,291,292,293,294,295,296,298,299,300,301,302,303,304,320,323,325,327) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_16.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,35,36,37,38,39,40,47,48,49,50,51,52,56,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,189,192,194,203,204,205,207,208,220,226,227,228,229,230,239,245,246,247,256,257,258,260,261,262,263,264,265,266,275,276,277,279,280,281,282,283,284,285,294,295,298,299,300,301,302,303,304,320,321,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_17.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,18,19,20,35,36,37,39,47,48,49,122,123,124,131,132,133,135,136,137,144,145,146,189,192,194,220,239,246,247,265,266,277,284,285,296,303,304,321,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_15.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,21,22,23,24,25,26,35,36,37,40,47,48,49,52,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,188,189,192,204,205,207,208,220,226,227,228,229,230,231,232,233,234,239,245,246,247,248,249,250,251,252,253,254,255,256,257,258,260,261,262,263,264,265,266,267,268,269,270,275,276,277,279,280,281,282,283,284,285,286,287,288,289,294,295,296,298,299,300,301,302,303,304,320,321,322,324,325,327) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_29.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (15,16,17,18,19,20,35,36,47,48,57,58,59,63,64,66,67,68,69,70,71,72,75,76,77,79,80,81,82,122,123,124,127,128,131,132,133,134,135,136,137,140,141,144,145,146,147,188,192,203,204,205,207,208,229,230,231,232,233,234,236,239,246,247,248,249,250,251,252,253,255,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,303,304,320,323,325,326,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_28.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (15,16,17,35,36,47,48,57,58,59,62,63,64,65,66,67,68,69,70,71,72,75,76,77,78,79,80,81,82,122,123,124,126,127,128,129,131,132,133,134,135,136,137,139,140,141,142,144,145,146,147,188,192,203,204,205,206,207,208,227,228,229,230,245,246,247,258,264,265,266,267,268,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,323,326,328,330,331,333) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_14.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (12,13,14,15,16,17,24,25,26,35,47,63,64,65,67,69,76,77,78,80,82,125,126,129,130,138,139,142,143,188,192,206,207,208,220,229,230,232,239,246,247,248,249,250,251,253,258,265,266,267,268,270,277,284,285,286,287,289,294,295,296,298,299,300,301,302,303,304,320,323,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_0.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,21,22,23,35,36,37,38,39,40,47,48,49,51,52,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,188,192,194,204,205,207,208,220,226,227,228,229,230,239,245,246,247,258,264,265,266,275,276,277,279,280,281,282,283,284,285,294,295,296,298,299,300,301,303,304,320,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_1.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (12,13,14,15,16,17,21,22,23,35,36,47,48,57,58,59,63,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,204,205,220,226,229,230,231,232,233,234,236,239,245,246,247,248,249,250,251,252,253,255,258,264,265,266,277,283,294,295,296,298,299,300,301,302,303,304,322,324) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_3.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,21,22,23,35,36,47,48,65,82,126,127,128,129,134,139,140,141,142,147,192,203,204,205,220,227,228,229,230,231,232,233,234,235,236,239,245,246,247,248,249,250,251,252,253,254,255,258,264,265,266,268,269,270,275,276,277,279,280,281,282,283,284,285,294,295,296,298,299,300,301,302,323,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_2.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,21,22,23,35,36,39,40,44,47,48,51,52,56,57,58,59,62,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,126,127,128,129,131,132,133,134,135,136,137,139,140,141,142,144,145,146,147,188,192,203,204,205,207,208,220,226,227,228,229,230,231,232,233,234,235,236,239,245,246,247,248,249,250,251,253,258,264,265,266,267,268,269,270,271,272,274,277,283,284,285,294,295,296,298,299,300,301,302,303,304,320,322,324,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_6.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,18,19,20,21,22,23,36,37,39,40,44,48,49,51,52,56,57,58,59,63,66,67,68,69,70,71,72,76,79,80,81,82,192,204,205,220,226,239,245,246,247,258,264,265,266,277,284,285,294,295,298,299,300,301,303,304,322,324,325,326,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_7.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,35,36,37,40,42,47,48,49,52,54,57,58,59,60,61,62,63,64,66,67,68,69,70,71,72,73,76,77,79,80,81,82,122,123,124,125,126,127,128,129,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,188,192,204,205,220,226,229,230,231,232,233,234,235,236,239,245,246,247,248,249,250,251,258,265,266,267,268,269,270,271,272,273,274,275,276,277,279,280,281,282,294,295,296,298,299,300,301,303,304,320,322,324,325,327) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_5.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,35,36,37,38,39,40,44,47,48,49,50,51,52,56,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,128,131,132,133,134,135,136,137,140,141,144,145,146,147,188,192,194,203,204,205,206,207,208,220,226,227,228,229,230,239,245,246,247,258,264,265,266,277,283,284,285,294,295,296,298,299,300,301,302,320,322,323,324,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)

Searching ./data/lei/gleif_lei2_4.csv for matches

/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:6: DtypeWarning: Columns (9,10,11,12,13,14,15,16,17,21,22,23,35,36,37,39,40,47,48,51,52,57,58,59,63,64,65,66,67,68,69,70,71,72,76,77,78,79,80,81,82,122,123,124,125,126,127,128,129,131,132,133,134,135,136,137,139,140,141,142,144,145,146,147,188,192,194,203,204,205,220,226,229,230,231,232,233,234,235,236,239,245,246,247,248,249,250,251,252,253,254,255,258,264,265,266,267,268,269,270,271,272,274,277,283,294,295,296,298,299,300,301,320,324,325,327,328,330) have mixed types. Specify dtype option on import or set low_memory=False.
  lei_df = pd.read_csv(lei_file)
/var/folders/88/q8wq3ss94k3bvmkq1j1f_j0w0000gn/T/ipykernel_42529/3205639819.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  lei_df = pd.concat(lei_df_list, ignore_index=True)

,LEI,Entity.LegalName,Entity.LegalName.xmllang,Entity.OtherEntityNames.OtherEntityName.1,Entity.OtherEntityNames.OtherEntityName.1.xmllang,Entity.OtherEntityNames.OtherEntityName.1.type,Entity.OtherEntityNames.OtherEntityName.2,Entity.OtherEntityNames.OtherEntityName.2.xmllang,Entity.OtherEntityNames.OtherEntityName.2.type,Entity.OtherEntityNames.OtherEntityName.3,...,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.3.ValidationAuthorityEntityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.4.ValidationAuthorityEntityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.ValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.OtherValidationAuthorityID,Registration.OtherValidationAuthorities.OtherValidationAuthority.5.ValidationAuthorityEntityID,ConformityFlag
0,7H6GLXDRUGQFU57RNE97,"JPMorgan Chase Bank, National Association",en,"JPMorgan Chase Bank, N.A.",en,TRADING_OR_OPERATING_NAME,CHASE MANHATTAN BANK,en,PREVIOUS_LEGAL_NAME,CHEMICAL BANK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
1,98450040E5B6CD69C657,SIMPLICITY,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
2,98450087981AP406JG03,CONVENTUS LLC,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON_CONFORMING
3,894500PCG3NCYFXK0D60,Westby Co-op Credit Union,en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CONFORMING
4,54930001NSTOD85LT125,"GUARANTEED RATE AFFINITY, LLC",en,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NON_CONFORMING

In [63]:
## loan_type analysis
df['loan_type'].value_counts()

loan_type
1    24217
2     3520
3      938
4       20
Name: count, dtype: int64

In [64]:
## loan_purpose analysis
df['loan_purpose'].value_counts()

loan_purpose
1     13240
4      4479
32     4207
2      4006
31     2707
5        56
Name: count, dtype: int64

In [65]:
## preapproval analysis
df['preapproval'].value_counts()

preapproval
2    27066
1     1629
Name: count, dtype: int64

In [66]:
## construction_method analysis
df['construction_method'].value_counts()

construction_method
1    28581
2      114
Name: count, dtype: int64

In [67]:
## occupancy_type analysis
df['occupancy_type'].value_counts()

occupancy_type
1    25228
3     3267
2      200
Name: count, dtype: int64

In [68]:
## loan_amount analysis
df['loan_amount'].value_counts()

loan_amount
55000      1762
25000      1475
35000      1434
105000     1360
45000      1255
           ...
3785000       1
6605000       1
2495000       1
2435000       1
1255000       1
Name: count, Length: 253, dtype: int64

In [69]:
## action_taken analysis
df['action_taken'].value_counts()

action_taken
1    16456
3     5292
4     3137
6     1961
2      973
5      774
8       66
7       36
Name: count, dtype: int64

In [72]:
## census_tract analysis
df['census_tract'].value_counts()

census_tract
55079150100    313
55079050101    312
55079000202    265
55079160202    259
55079150301    251
              ...
55079014800      8
55079014700      7
55079014600      6
55079186400      3
55079014100      2
Name: count, Length: 300, dtype: int64

In [73]:
df['census_tract'].isnull().sum()

8

In [74]:
## borrower_one_ethnicity
df['borrower_one_ethnicity'].value_counts()

borrower_one_ethnicity
2     19280
1      3145
3      3026
4      2929
11      144
14       95
12       65
13        2
Name: count, dtype: int64

In [75]:
df['borrower_one_ethnicity'].isnull().sum()

9

In [76]:
## co_borrower_one_ethnicity analysis
df['co_borrower_one_ethnicity'].value_counts()

co_borrower_one_ethnicity
5     17259
2      7194
4      1760
1      1197
3      1181
11       55
14       24
12       23
Name: count, dtype: int64

In [77]:
df['co_borrower_one_ethnicity'].isnull().sum()

2

In [78]:
## borrower_ethnicity_based_on_obs
df['borrower_ethnicity_based_on_obs'].value_counts()

borrower_ethnicity_based_on_obs
2    23728
3     4129
1      838
Name: count, dtype: int64

In [79]:
## co_borrower_ethnicity_based_on_obs analysis
df['co_borrower_ethnicity_based_on_obs'].value_counts()

co_borrower_ethnicity_based_on_obs
4    17259
2     8919
3     2243
1      274
Name: count, dtype: int64

In [80]:
## borrower_one_race analysis
df['borrower_one_race'].value_counts()

borrower_one_race
5     16233
3      4755
6      3304
7      2933
2      1034
1       218
21       75
27       56
4        37
26       16
44        9
23        7
25        6
22        6
24        2
Name: count, dtype: int64

In [81]:
df['borrower_one_race'].isnull().sum()

4

In [17]:
## co_borrower_one_race analysis
df['co_borrower_one_race'].value_counts()

co_borrower_one_race
8     17257
5      7004
7      1764
6      1259
3       891
2       373
1        60
21       30
27       24
23        8
26        8
4         5
22        4
44        4
25        2
Name: count, dtype: int64

In [18]:
df['co_borrower_one_race'].isnull().sum()

2

In [19]:
## borrower_race_based_on_obs
df['borrower_race_based_on_obs'].value_counts()

borrower_race_based_on_obs
2    23705
3     4137
1      853
Name: count, dtype: int64

In [20]:
df['co_borrower_race_based_on_obs'].value_counts()

co_borrower_race_based_on_obs
4    17257
2     8910
3     2245
1      283
Name: count, dtype: int64

In [21]:
## borrower_gender analysis
df['borrower_gender'].value_counts()

borrower_gender
1    13878
2    10412
4     2930
3     1460
6       15
Name: count, dtype: int64

In [24]:
## co_borrower_gender_based_on_obs analysis
df['borrower_gender_based_on_obs'].value_counts()

borrower_gender_based_on_obs
2    23701
3     4141
1      853
Name: count, dtype: int64

In [25]:
## borrower_age analysis
df['borrower_age'].value_counts()

borrower_age
35-44    6635
25-34    5824
45-54    5347
55-64    3788
8888     3033
65-74    2320
<25       892
>74       856
Name: count, dtype: int64

In [26]:
df['borrower_age'].isnull().sum()

0

In [27]:
## is_borrower_62_or_older analysis
df['is_borrower_62_or_older'].value_counts()

is_borrower_62_or_older
No     21496
Yes     4166
Name: count, dtype: int64

In [28]:
df['is_borrower_62_or_older'].isnull().sum()

3033

In [29]:
## co_borrower_age analysis
df['co_borrower_age'].value_counts()

co_borrower_age
9999     17185
35-44     2458
25-34     2255
45-54     1948
8888      1859
55-64     1479
65-74      922
>74        310
<25        279
Name: count, dtype: int64

In [30]:
df['co_borrower_age'].isnull().sum()

0

In [31]:
## is_co_borrower_62_or_older analysis
df['is_co_borrower_62_or_older'].value_counts()

is_co_borrower_62_or_older
No     8009
Yes    1642
Name: count, dtype: int64

In [32]:
df['is_co_borrower_62_or_older'].isnull().sum()

19044

In [33]:
## income analysis
df['income'].value_counts()

income
60      380
65      347
80      336
75      326
52      292
       ...
436       1
825       1
4000      1
494       1
836       1
Name: count, Length: 684, dtype: int64

In [34]:
df['income'].isnull().sum()

3355

In [35]:
## type_of_purchaser analysis
df['type_of_purchaser'].value_counts()

type_of_purchaser
0     19813
1      2029
3      1874
71     1633
2      1460
9       913
6       498
5       238
8       141
72       96
Name: count, dtype: int64

In [36]:
df['type_of_purchaser'].isnull().sum()

0

In [40]:
## rate_spread analysis
df['rate_spread'].unique().tolist()

['0.236',
 '4.57',
 '2.127',
 '0.278',
 nan,
 '-0.142',
 '1.428',
 '0.504',
 '-0.009',
 '-0.516',
 '5.037',
 '0.398',
 '0.001',
 '1.168',
 '20.772',
 '0.033',
 '7.775',
 '0.47',
 '0.751',
 '0.676',
 '0.712',
 '0.359',
 '5.372',
 '1.08',
 '6.276',
 '0.435',
 '-0.514',
 '1.701',
 '-0.022',
 '-0.517',
 '1.015',
 '-0.842',
 '0.112',
 '1.287',
 '1.633',
 '-0.455',
 '0.675',
 '0.41',
 '1.16',
 '-1.043',
 '0.289',
 '0.606',
 '0.015',
 '0.155',
 '0.324',
 '1.218',
 '-0.305',
 '1.114',
 '1.088',
 '0.162',
 '0.962',
 '0.704',
 '1.381',
 '0.956',
 '0.047',
 '0.007',
 '0.782',
 '0.381',
 '0.178',
 '0.277',
 '0.406',
 '-0.1',
 'Exempt',
 '1.398',
 '1.897',
 '1.17',
 '-0.093',
 '1.02',
 '1.092',
 '-0.193',
 '1.624',
 '1.008',
 '0.575',
 '1.715',
 '0.515',
 '1.27',
 '1.529',
 '1.347',
 '0.665',
 '0.31',
 '0.696',
 '1.255',
 '1.131',
 '1.578',
 '-0.061',
 '1.705',
 '0.993',
 '-0.803',
 '1.64',
 '0.321',
 '0.625',
 '0.263',
 '0.534',
 '-0.564',
 '1.636',
 '0.89',
 '0.259',
 '-0.141',
 '0.449',
 '0.519',
 '0.0',
 '0.779',
 '1.129',
 '-0.271',
 '-0.091',
 '0.374',
 '0.471',
 '0.288',
 '0.365',
 '1.009',
 '0.21',
 '0.147',
 '0.072',
 '1.15',
 '0.345',
 '0.252',
 '0.131',
 '0.862',
 '0.016',
 '-0.118',
 '-0.175',
 '0.964',
 '0.383',
 '0.646',
 '-0.012',
 '0.046',
 '0.275',
 '0.057',
 '0.172',
 '0.295',
 '0.042',
 '-0.02',
 '0.087',
 '-0.065',
 '0.497',
 '0.059',
 '0.479',
 '0.177',
 '0.182',
 '0.291',
 '0.16',
 '0.336',
 '0.234',
 '0.181',
 '0.081',
 '0.11',
 '0.166',
 '-0.034',
 '0.111',
 '0.657',
 '-0.094',
 '-0.035',
 '-0.352',
 '0.441',
 '0.75',
 '0.798',
 '1.099',
 '0.542',
 '0.843',
 '0.645',
 '-0.173',
 '-7.54',
 '3.19',
 '-4.14',
 '-3.17',
 '-4.17',
 '-3.55',
 '4.55',
 '-4.23',
 '-7.36',
 '-4.55',
 '3.46',
 '3.21',
 '-6.02',
 '-4.19',
 '-7.18',
 '-3.37',
 '-7.22',
 '-4.21',
 '-0.361',
 '-3.23',
 '-4.29',
 '4.07',
 '-4.37',
 '-3.19',
 '-6.05',
 '1.95',
 '-3.21',
 '-4.22',
 '-0.45',
 '0.715',
 '2.57',
 '-2.87',
 '3.37',
 '-5.87',
 '3.24',
 '0.78',
 '0.325',
 '-4.26',
 '0.79',
 '-4.45',
 '3.149',
 '-3.45',
 '1.21',
 '-0.23',
 '1.04',
 '-7.51',
 '-6.14',
 '5.3',
 '-6.86',
 '-7.63',
 '-4.3',
 '3.34',
 '1.28',
 '-0.17',
 '-0.21',
 '0.71',
 '3.27',
 '-3.29',
 '-3.26',
 '3.22',
 '-4.24',
 '0.87',
 '-4.03',
 '-7.2',
 '3.71',
 '0.25',
 '2.24',
 '1.25',
 '-0.55',
 '1.19',
 '2.26',
 '-3.02',
 '2.21',
 '4.14',
 '3.77',
 '1.29',
 '3.89',
 '0.066',
 '0.386',
 '-0.252',
 '0.083',
 '0.23',
 '-0.432',
 '0.221',
 '-0.072',
 '-0.49',
 '1.246',
 '0.423',
 '0.599',
 '-0.138',
 '-0.001',
 '-0.256',
 '-0.038',
 '-0.368',
 '-0.289',
 '0.642',
 '0.38',
 '-0.208',
 '-0.032',
 '0.251',
 '0.37',
 '0.604',
 '0.254',
 '-0.063',
 '0.229',
 '0.063',
 '0.156',
 '-0.127',
 '-0.462',
 '-0.527',
 '0.088',
 '-0.107',
 '0.021',
 '-0.226',
 '0.26',
 '0.208',
 '-0.394',
 '0.168',
 '-0.086',
 '0.086',
 '0.461',
 '0.202',
 '0.292',
 '-0.03',
 '-0.378',
 '-0.376',
 '-0.198',
 '0.329',
 '0.029',
 '-0.353',
 '0.437',
 '0.419',
 '-0.214',
 '-0.025',
 '-0.089',
 '0.07',
 '-0.314',
 '-0.286',
 '-0.09',
 '-5.56',
 '-7.05',
 '2.8',
 '-5.58',
 '-6.19',
 '-5.73',
 '-7.07',
 '-7.68',
 '-7.94',
 '-5.55',
 '-7.85',
 '-7.04',
 '-3.05',
 '-7.82',
 '1.842',
 '3.96',
 '0.122',
 '0.65',
 '3.14',
 '-6.36',
 '-7.81',
 '-7.78',
 '5.47',
 '2.43',
 '-6.12',
 '4.45',
 '-6.29',
 '5.95',
 '1.073',
 '-6.45',
 '3.87',
 '2.78',
 '-7.61',
 '-6.32',
 '5.37',
 '2.44',
 '3.97',
 '-3.12',
 '-3.32',
 '0.705',
 '-6.33',
 '3.49',
 '4.43',
 '-3.52',
 '-2.55',
 '5.24',
 '0.19',
 '-2.73',
 '-5.37',
 '-5.95',
 '2.95',
 '3.39',
 '3.95',
 '0.857',
 '0.537',
 '-2.58',
 '0.28',
 '-7.44',
 '0.265',
 '-3.14',
 '5.78',
 '0.475',
 '0.518',
 '1.251',
 '-5.86',
 '0.378',
 '0.077',
 '0.446',
 '0.942',
 '0.888',
 '-0.036',
 '0.662',
 '0.487',
 '-0.064',
 '0.138',
 '-0.194',
 '0.218',
 '0.214',
 '1.046',
 '-0.211',
 '-0.066',
 '-0.612',
 '-0.082',
 '0.739',
 '0.205',
 '-0.144',
 '-0.236',
 '0.032',
 '-0.231',
 '1.463',
 '1.059',
 '0.511',
 '-0.136',
 '-0.05',
 '-0.255',
 '0.483',
 '0.433',
 '0.073',
 '0.148',
 '0.845',
 '0.274',
 '0.694',
 '-0.185',
 '-0.108',
 '0.919',
 '0.452',
 '0.034',
 '0.18',
 '0.051',
 '-7.02',
 '0.773',
 '0.094',
 '0.164',
 '1.062',
 '0.478',
 '2.46',
 '-7.97',
 '-8.02',
 '-6.59',
 '-8.0',
 '-8.04',
 '0.347',
 '-8.08',
 '-6.48',
 '-8.05',
 '2.25',
 '-3.48',
 '2.45',
 '0.784',
 '-3.53',
 '3.43',
 '-6.55',
 '1.339',
 '3.189',
 '4.4',
 '2.28',
 '-6.53',
 '1.42',
 '0.42',
 '3.056',
 '-6.56',
 '0.908',
 '0.45',
 '-3.51',
 '-3.56',
 '-6.72',
 '3.67',
 '1.48',
 '-8.19',
 '0.73',
 '0.81',
 '-3.7',
 '-6.51',
 '-6.7',
 '3.397',
 '3.31',
 '1.46',
 '3.81',
 '3.9',
 '2.56',
 '0.46',
 '0.48',
 '0.603',
 '0.133',
 '0.136',
 '0.143',
 '0.025',
 '0.468',
 '0.404',
 '-0.113',
 '0.726',
 '1.122',
 '0.451',
 '-0.42',
 '0.212',
 '-0.189',
 '0.392',
 '-0.139',
 '-0.079',
 '-0.437',
 '0.416',
 '0.576',
 '0.385',
 '0.35',
 '0.318',
 '0.303',
 '1.425',
 '0.013',
 '0.036',
 '0.938',
 '0.302',
 '-0.585',
 '-0.534',
 '-0.124',
 '0.01',
 '-0.24',
 '-0.19',
 '-8.21',
 '3.138',
 '3.26',
 '5.26',
 '0.06',
 '0.17',
 '-0.22',
 '0.54',
 '0.27',
 '0.03',
 '0.804',
 '0.02',
 '3.53',
 '-0.28',
 '3.035',
 '1.31',
 '0.76',
 '1.38',
 '2.27',
 '0.77',
 '-0.26',
 '-8.18',
 '-6.69',
 '4.26',
 '0.49',
 '2.29',
 '1.26',
 '0.53',
 '1.45',
 '0.72',
 '1.24',
 '1.01',
 '2.31',
 '-3.59',
 '3.32',
 '0.51',
 '-0.01',
 '0.806',
 '3.74',
 '0.56',
 '0.22',
 '-8.24',
 '1.03',
 '0.74',
 '0.24',
 '0.29',
 '0.355',
 '2.32',
 '-0.04',
 '3.136',
 '0.57',
 '-0.29',
 '0.97',
 '5.42',
 '4.31',
 '0.644',
 '-0.165',
 '0.583',
 '0.643',
 '-0.37',
 '-0.515',
 '-0.183',
 '1.147',
 '-0.315',
 '-0.095',
 '0.184',
 '-0.145',
 '0.689',
 '0.089',
 '0.194',
 '-0.112',
 '-1.13',
 '4.043',
 '3.825',
 '3.855',
 '0.055',
 '0.287',
 '0.333',
 '-0.019',
 '-0.16',
 '-0.033',
 '1.106',
 '-0.293',
 '0.317',
 '-0.062',
 '0.613',
 '0.8',
 '0.926',
 '-0.265',
 '-0.057',
 '0.188',
 '0.009',
 '1.071',
 '0.39',
 '0.429',
 '0.152',
 '-0.298',
 '0.038',
 '1.239',
 '-0.046',
 '1.037',
 '0.565',
 '0.356',
 '-0.329',
 '-0.308',
 '1.012',
 '0.298',
 '-0.2',
 '0.462',
 '0.196',
 '0.593',
 '0.332',
 '0.268',
 '0.493',
 '-0.494',
 '0.115',
 '1.094',
 '-0.181',
 '0.163',
 '0.569',
 '0.658',
 '-0.406',
 '1.307',
 '0.079',
 '0.85',
 '0.507',
 '-0.104',
 '0.071',
 '0.005',
 '0.018',
 '0.632',
 '0.085',
 '-0.117',
 '-0.424',
 '0.076',
 '0.651',
 '1.397',
 '-0.483',
 '0.907',
 '0.673',
 '-0.339',
 '0.554',
 '-0.25',
 '0.539',
 '-0.27',
 '0.932',
 '-0.068',
 '0.271',
 '0.137',
 '-0.915',
 '0.524',
 '0.024',
 '0.933',
 '0.169',
 '1.465',
 '-0.184',
 '0.116',
 '-0.232',
 '-6.96',
 '-0.418',
 '-0.631',
 '0.682',
 '0.587',
 '-0.632',
 '-0.443',
 '0.661',
 '0.821',
 '0.418',
 '-0.106',
 '0.656',
 '0.669',
 '0.13',
 '0.547',
 '-0.023',
 '0.119',
 '-0.445',
 '-0.259',
 '0.075',
 '0.109',
 '-0.412',
 '0.315',
 '-0.045',
 '-0.777',
 '-0.11',
 '0.264',
 '-0.35',
 '-0.026',
 '1.37',
 '0.585',
 '-0.076',
 '-0.171',
 '0.004',
 '0.638',
 '1.148',
 '0.957',
 '0.146',
 '0.596',
 '-0.166',
 '0.505',
 '0.159',
 '0.615',
 '0.807',
 '-0.168',
 '-1.07',
 '0.216',
 '-0.109',
 '-0.384',
 '1.665',
 '0.226',
 '0.279',
 '0.035',
 '0.415',
 '0.477',
 '0.307',
 '0.403',
 '0.469',
 '0.424',
 '0.58',
 '0.761',
 '0.225',
 '0.818',
 '-0.716',
 '1.562',
 '0.906',
 '-0.648',
 '-0.178',
 '0.174',
 '1.418',
 '1.295',
 '0.084',
 '0.835',
 '-0.299',
 '-0.147',
 '0.763',
 '0.242',
 '-0.116',
 '-0.13',
 '-0.75',
 '-0.054',
 '0.343',
 '-0.207',
 '1.435',
 '0.299',
 '1.889',
 '0.822',
 '-0.217',
 '-0.128',
 '1.318',
 '0.627',
 '6.015',
 '1.07',
 '1.424',
 '1.002',
 '0.43',
 '-0.598',
 '1.387',
 '-0.458',
 '1.698',
 '1.308',
 '-0.338',
 '0.912',
 '-0.307',
 '1.305',
 '-0.008',
 '0.923',
 '0.634',
 '0.937',
 '1.256',
 '1.267',
 '-0.247',
 '0.262',
 '1.119',
 '-0.005',
 '-0.292',
 '0.572',
 '0.028',
 '-0.111',
 '-0.397',
 '1.652',
 '-0.122',
 '-0.017',
 '-0.584',
 '0.069',
 '-0.096',
 '-0.148',
 '-0.004',
 '0.141',
 '-0.273',
 '-0.215',
 '0.494',
 '0.139',
 '-3.73',
 '-3.76',
 '-2.19',
 '-3.67',
 '-2.23',
 '-3.8',
 '-3.71',
 '-2.52',
 '-2.17',
 '-2.64',
 '-3.64',
 '0.83',
 '-3.22',
 '-6.01',
 '-3.87',
 '0.33',
 '-2.14',
 '-2.69',
 '-2.21',
 '-2.72',
 '-2.67',
 '-2.26',
 '-3.95',
 '-2.3',
 '-2.22',
 '2.14',
 '-3.79',
 '-2.37',
 '-4.05',
 '-3.69',
 '-2.45',
 '-2.76',
 '3.17',
 '3.08',
 '0.63',
 '1.62',
 '-3.72',
 '-3.3',
 '-2.71',
 '-0.209',
 '0.183',
 '-0.083',
 '0.231',
 '0.393',
 '-0.356',
 '-0.085',
 '-0.074',
 '-0.234',
 '0.124',
 '0.023',
 '-0.238',
 '0.161',
 '-0.369',
 '-0.011',
 '-0.134',
 '0.342',
 '-0.582',
 '-0.38',
 '1.045',
 '-0.092',
 '0.32',
 '-0.505',
 '0.316',
 '-0.242',
 '-0.53',
 '0.144',
 '-0.097',
 '-0.3',
 '-0.276',
 '0.127',
 '-0.422',
 '0.273',
 '-0.205',
 '-0.388',
 '-0.261',
 '-0.132',
 '0.261',
 '0.091',
 '0.362',
 '-0.146',
 '0.101',
 '-0.313',
 '-0.285',
 '-0.348',
 '-0.282',
 '-0.254',
 '-0.5',
 '-0.278',
 '-0.521',
 '0.198',
 '0.022',
 '0.008',
 '-0.029',
 '0.256',
 '-0.152',
 '0.045',
 '-0.403',
 '-0.06',
 '0.185',
 '-0.126',
 '-0.245',
 '-0.014',
 '0.557',
 '0.044',
 '-0.12',
 '-0.518',
 '-0.323',
 '0.863',
 '-0.221',
 '-0.526',
 '-0.233',
 '-0.18',
 '-0.159',
 '0.465',
 '-0.319',
 '-3.08',
 '-2.08',
 '-2.83',
 '-3.62',
 '-3.06',
 '-5.54',
 '-2.95',
 '-2.86',
 '-2.82',
 '-2.05',
 '-2.06',
 '-6.04',
 '-1.86',
 '1.81',
 '1.97',
 '-2.62',
 '1.13',
 '-1.83',
 '-2.79',
 '-1.87',
 '-1.82',
 '-3.82',
 '-6.44',
 '0.82',
 '1.05',
 '-1.95',
 '1.14',
 '0.94',
 '-3.28',
 '0.389',
 '-0.309',
 '-0.218',
 '-0.135',
 '-0.246',
 '0.106',
 '0.04',
 '-0.182',
 '0.108',
 '0.484',
 '-0.007',
 '-0.197',
 '-0.416',
 '0.601',
 '-0.015',
 '0.2',
 '0.014',
 '-0.399',
 '-0.476',
 '0.053',
 '0.237',
 '-0.392',
 '-0.463',
 '-0.041',
 '-0.013',
 '0.344',
 '0.282',
 '-0.188',
 '0.284',
 '0.281',
 '-0.402',
 '0.337',
 '-0.024',
 '-0.482',
 '-1.98',
 '0.34',
 '-2.01',
 '-2.98',
 '-3.01',
 '-6.52',
 '-6.58',
 '0.7',
 '-3.03',
 '0.67',
 '-6.47',
 '-2.03',
 '1.32',
 '-0.08',
 '-6.54',
 '3.48',
 '0.05',
 '0.003',
 '0.255',
 '0.577',
 '-0.088',
 '0.875',
 '0.928',
 '-0.119',
 '-0.597',
 '0.408',
 '-0.446',
 '-0.48',
 '0.725',
 '-0.179',
 '-0.049',
 '0.08',
 '1.989',
 '0.062',
 ...]

In [38]:
df['rate_spread'].isnull().sum()

13525

In [41]:
## hoepa_status analysis
df['hoepa_status'].value_counts()

hoepa_status
2    16328
3    12344
1       23
Name: count, dtype: int64

In [42]:
df['hoepa_status'].isnull().sum()

0

In [43]:
## lien_status analysis
df['lien_status'].value_counts()

lien_status
1    19982
2     8713
Name: count, dtype: int64

In [44]:
df['lien_status'].isnull().sum()

0

In [45]:
## borrower_credit_score_model
df['borrower_credit_score_model'].value_counts()

borrower_credit_score_model
9       8328
3       3913
1       3863
8       3790
2       3318
11      3213
6       1232
7        582
1111     419
4         29
5          8
Name: count, dtype: int64

In [46]:
df['borrower_credit_score_model'].isnull().sum()

0

In [47]:
## reason_for_denial_one analysis
df['reason_for_denial_one'].value_counts()

reason_for_denial_one
10      23054
1        1607
3        1537
4         813
7         639
9         357
1111      353
6         170
5         105
2          58
8           2
Name: count, dtype: int64

In [48]:
df['reason_for_denial_one'].isnull().sum()

0

In [52]:
remaining_list = df.columns.tolist()[55:]
for item in remaining_list: 
    print(df[item].value_counts())
    print(df[item].isnull().sum())

total_loan_costs
0.0        572
Exempt     419
101.0      244
401.0       76
351.0       40
          ...
7205.2       1
3118.79      1
4507.57      1
5241.32      1
3155.0       1
Name: count, Length: 7714, dtype: int64
17086
total_points_and_fees
Exempt      419
799.0        10
0.0           6
517.0         3
588.0         2
13522.78      1
18563.56      1
1535.0        1
585.0         1
756.27        1
1250.0        1
552.0         1
499.0         1
1496.7        1
Name: count, dtype: int64
28246
origination_charges
0.0        1173
Exempt      419
1590.0      223
365.0       206
425.0       168
           ...
933.9         1
2546.5        1
3866.27       1
1861.93       1
3481.5        1
Name: count, Length: 4675, dtype: int64
17336
discount_points
Exempt     419
1500.0      12
2250.0       8
1800.0       7
375.0        7
          ...
4008.96      1
6591.02      1
1191.12      1
1677.6       1
1891.5       1
Name: count, Length: 3911, dtype: int64
23360
lender_credits
Exempt     419
3.0        411
500.0      303
1000.0     292
1250.0     175
          ...
604.0        1
731.88       1
3440.14      1
2300.47      1
2036.0       1
Name: count, Length: 1628, dtype: int64
23666
interest_rate
3.99     770
6.625    745
0.0      723
6.5      705
7.25     692
        ...
6.157      1
6.511      1
6.272      1
5.032      1
6.517      1
Name: count, Length: 771, dtype: int64
9162
prepayment_penalty_term
24        1873
Exempt     419
36         394
12           4
60           3
2            1
Name: count, dtype: int64
26001
debt_to_income_ratio
20%-<30%    3641
30%-<36%    3260
<20%        1732
50%-60%     1632
>60%        1317
42           812
49           794
41           780
44           724
43           716
40           681
39           662
38           659
37           644
45           608
36           603
48           577
46           564
47           494
Exempt       419
Name: count, dtype: int64
7376
combined_loan_to_value_ratio
80.0      1953
95.0      1173
75.0       930
96.5       826
90.0       786
          ...
43.636       1
14.643       1
57.085       1
61.35        1
87.342       1
Name: count, Length: 9849, dtype: int64
6804
loan_term_months
360    18485
300     2207
60      2200
120     2101
180      994
       ...
346        1
349        1
135        1
130        1
364        1
Name: count, Length: 136, dtype: int64
227
intro_rate_period
1         3040
12        2937
60        1058
6          748
84         510
Exempt     419
3          253
120        121
61          99
180         98
36          78
14          21
13          18
360         18
2           14
62           9
15           7
72           6
24           5
11           4
95           3
30           2
85           2
10           2
168          2
9            1
720          1
38           1
48           1
4            1
5            1
63           1
108          1
71           1
16           1
Name: count, dtype: int64
19211
balloon_payment
2       26925
1        1351
1111      419
Name: count, dtype: int64
0
interest_only_payments
2       21581
1        6695
1111      419
Name: count, dtype: int64
0
negative_amortization
2       28261
1111      419
1          15
Name: count, dtype: int64
0
other_non_amortizing_features
2       28149
1111      419
1         127
Name: count, dtype: int64
0
property_value
255000      1043
225000      1035
245000      1023
235000      1000
205000       952
            ...
8065000        1
9845000        1
10115000       1
5085000        1
6375000        1
Name: count, Length: 272, dtype: int64
4630
manufactured_home_property_type
3       28162
1111      419
2         106
1           8
Name: count, dtype: int64
0
manufactured_home_land_property_interest
5       28162
1111      419
3          74
2          31
1           9
Name: count, dtype: int64
0
total_units
1          24240
2           3614
4            252
5-24         244
3            220
25-49         43
50-99         40
100-149       24
>149          18
Name: count, dtype: int64
0
multifamily_affordable_units
Exempt    419
0         236
100        12
78          2
71          1
86          1
Name: count, dtype: int64
28024
submission_of_application
1       24284
2        2055
3        1937
1111      419
Name: count, dtype: int64
0
is_init_payable_to_institution
1       24881
3        2577
2         818
1111      419
Name: count, dtype: int64
0
auto_underwriting_system_one
6       13566
1        7125
2        3273
5        2086
3        1560
7         666
1111      419
Name: count, dtype: int64
0
auto_underwriting_system_two
2    450
1    390
5    122
3     33
7      8
Name: count, dtype: int64
27692
auto_underwriting_system_three
5    168
2     83
1     32
3     27
Name: count, dtype: int64
28385
auto_underwriting_system_four
3    25
1    17
2    10
Name: count, dtype: int64
28643
auto_underwriting_system_five
1    20
3    20
2     7
Name: count, dtype: int64
28648
is_reverse_mortgage
2       28244
1111      419
1          32
Name: count, dtype: int64
0
is_open_end_line_of_credit
2       19949
1        8327
1111      419
Name: count, dtype: int64
0
is_for_business_purpose
2       25996
1        2280
1111      419
Name: count, dtype: int64
0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28695 entries, 0 to 28694
Data columns (total 85 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   activity_year                             28695 non-null  object
 1   legal_entity_identifier                   28695 non-null  object
 2   loan_type                                 28695 non-null  object
 3   loan_purpose                              28695 non-null  object
 4   preapproval                               28695 non-null  object
 5   construction_method                       28695 non-null  object
 6   occupancy_type                            28695 non-null  object
 7   loan_amount                               28695 non-null  object
 8   action_taken                              28695 non-null  object
 9   property_state                            28695 non-null  object
 10  property_county                           28695 non-null  object
 11  census_tract                              28687 non-null  object
 12  borrower_one_ethnicity                    28686 non-null  object
 13  borrower_two_ethnicity                    2093 non-null   object
 14  borrower_three_ethnicity                  44 non-null     object
 15  borrower_four_ethnicity                   1 non-null      object
 16  borrower_five_ethnicity                   0 non-null      object
 17  co_borrower_one_ethnicity                 28693 non-null  object
 18  co_borrower_two_ethnicity                 798 non-null    object
 19  co_borrower_three_ethnicity               14 non-null     object
 20  co_borrower_four_ethnicity                1 non-null      object
 21  co_borrower_five_ethnicity                0 non-null      object
 22  borrower_ethnicity_based_on_obs           28695 non-null  object
 23  co_borrower_ethnicity_based_on_obs        28695 non-null  object
 24  borrower_one_race                         28691 non-null  object
 25  borrower_two_race                         951 non-null    object
 26  borrower_three_race                       95 non-null     object
 27  borrower_four_race                        11 non-null     object
 28  borrower_five_race                        0 non-null      object
 29  co_borrower_one_race                      28693 non-null  object
 30  co_borrower_two_race                      312 non-null    object
 31  co_borrower_three_race                    31 non-null     object
 32  co_borrower_four_race                     9 non-null      object
 33  co_borrower_five_race                     1 non-null      object
 34  borrower_race_based_on_obs                28695 non-null  object
 35  co_borrower_race_based_on_obs             28695 non-null  object
 36  borrower_gender                           28695 non-null  object
 37  co_borrower_gender                        28695 non-null  object
 38  borrower_gender_based_on_obs              28695 non-null  object
 39  co_borrower_gender_based_on_obs           28695 non-null  object
 40  borrower_age                              28695 non-null  object
 41  is_borrower_62_or_older                   25662 non-null  object
 42  co_borrower_age                           28695 non-null  object
 43  is_co_borrower_62_or_older                9651 non-null   object
 44  income                                    25340 non-null  object
 45  type_of_purchaser                         28695 non-null  object
 46  rate_spread                               15170 non-null  object
 47  hoepa_status                              28695 non-null  object
 48  lien_status                               28695 non-null  object
 49  borrower_credit_score_model               28695 non-null  object
 50  co_borrower_credit_score_model            28695 non-null  object
 51  reason_for_denial_one                     28695 non-null  object
 52  reason_for_denial_two                     1188 non-null   object
 53  reason_for_denial_three                   186 non-null    object
 54  reason_for_denial_four                    14 non-null     object
 55  total_loan_costs                          11609 non-null  object
 56  total_points_and_fees                     449 non-null    object
 57  origination_charges                       11359 non-null  object
 58  discount_points                           5335 non-null   object
 59  lender_credits                            5029 non-null   object
 60  interest_rate                             19533 non-null  object
 61  prepayment_penalty_term                   2694 non-null   object
 62  debt_to_income_ratio                      21319 non-null  object
 63  combined_loan_to_value_ratio              21891 non-null  object
 64  loan_term_months                          28468 non-null  object
 65  intro_rate_period                         9484 non-null   object
 66  balloon_payment                           28695 non-null  object
 67  interest_only_payments                    28695 non-null  object
 68  negative_amortization                     28695 non-null  object
 69  other_non_amortizing_features             28695 non-null  object
 70  property_value                            24065 non-null  object
 71  manufactured_home_property_type           28695 non-null  object
 72  manufactured_home_land_property_interest  28695 non-null  object
 73  total_units                               28695 non-null  object
 74  multifamily_affordable_units              671 non-null    object
 75  submission_of_application                 28695 non-null  object
 76  is_init_payable_to_institution            28695 non-null  object
 77  auto_underwriting_system_one              28695 non-null  object
 78  auto_underwriting_system_two              1003 non-null   object
 79  auto_underwriting_system_three            310 non-null    object
 80  auto_underwriting_system_four             52 non-null     object
 81  auto_underwriting_system_five             47 non-null     object
 82  is_reverse_mortgage                       28695 non-null  object
 83  is_open_end_line_of_credit                28695 non-null  object
 84  is_for_business_purpose                   28695 non-null  object
dtypes: object(85)
memory usage: 18.6+ MB

In [ ]:
int_columns = ['activity_year', 'loan_type', 'loan_purpose', 'preapproval', 'construction_method', 
              'construction_method', 'occupancy_type', 'loan_amount', 'action_taken', 'property_county', 
              'census_tract', 'borrower_one_ethnicity', 'borrower_two_ethnicity', 'borrower_three_ethnicity', 
              'borrower_four_ethnicity', 'borrower_five_ethnicity', 'borrower_ethnicity_based_on_obs', 
              'co_borrower_one_ethnicity', 'co_borrower_two_ethnicity', 'co_borrower_three_ethnicity', 
              'co_borrower_four_ethnicity', 'co_borrower_five_ethnicity', 'co_borrower_ethnicity_based_on_obs', 
              'borrower_one_race', 'borrower_two_race', 'borrower_three_race', 'borrower_four_race', 
              'borrower_five_race', 'borrower_race_based_on_obs', 'co_borrower_race_based_on_obs', 
              'borrower_gender', 'co_borrower_gender', 'borrower_gender_based_on_obs', 
              'co_borrower_gender_based_on_obs', 'income', 'type_of_purchaser', 'hoepa_status', 
              'lien_status', 'borrower_credit_score_model', 'prepayment_penalty_term', 'loan_term_months', 
              'intro_rate_period', 'intro_rate_period', 'balloon_payment', 'property_value', 
              'interest_only_payments', 'negative_amortization', 'other_non_amortizing_features', 
              'manufactured_home_property_type', 'manufactured_home_land_property_interest', 
              'multifamily_affordable_units', 'submission_of_application', 'is_init_payable_to_institution', 
              'auto_underwriting_system_one', 'auto_underwriting_system_two', 'auto_underwriting_system_three', 
              'auto_underwriting_system_four', 'auto_underwriting_system_five', 'is_reverse_mortgage', 
              'is_open_end_line_of_credit', 'is_for_business_purpose']

float_columns = ['rate_spread', 'total_loan_costs', 'origination_charges', 'discount_points', 
                'interest_rate', 'lender_credits', 'combined_loan_to_value_ratio']

categorical_columns = ['legal_entity_identifier', 'property_state']

str_to_categorical_conversion_columns = ['borrower_age', 'is_borrower_62_or_older', 'co_borrower_age', 
                                        'is_co_borrower_62_or_older', 'debt_to_income_ratio',
                                        'total_units', ]